.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: 24px;

        ion-thumbnail {
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid var(--color-primary);
        }
    }
}

ion-content {
    ion-list {
        .contactList {
            width: 100%;
            height: auto;
            display: flex;
            padding: 10px;
            gap: 5px;
            margin: 0 0 3px;
            background-color: var(--color-light);

            .userImg {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;
                background-color: var(--color-light);
            }

            .userInfo {
                width: calc(100% - 50px);
                height: 50px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                ion-row {
                    ion-icon {
                        font-size: 20px;
                    }

                    .messagesDate {
                        font-size: 12px;
                        color: #667781;
                    }

                    .messages {
                        display: block;
                        width: 100%;
                        text-wrap: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: start;
                        font-size: 12px;
                        color: #667781;
                    }
                }
            }
        }

        .contactList:last-child {
            margin: 0 0 100px;
        }
    }
}