<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="onBack()"></ion-icon>
    <span>Advocate Portfolio</span>
  </div>
</div>

<ion-content>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="Lawyer Profile" [src]="profile_data?.profilePath ? img_url + profile_data?.profilePath : '' " />
    </ion-thumbnail>

    <ion-label>
      <ion-row class="ion-align-items-center">
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
        <p>{{profile_data?.advocateName | titlecase}}</p>
      </ion-row>

      <ion-row class="ion-align-items-center" (click)="makeCall(profile_data?.contactNum)">
        <ion-button>
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
        <p>{{ profile_data?.maskedContactNum }}</p>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-button>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
        <p>
          {{ avg_total_review?.avgUserRating || '0' }} |
          {{ avg_total_review?.totalUserRating || '0' }}
          + user ratings
        </p>
      </ion-row>
      
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-row>
      <!-- <h2>{{ profile_data?.advocateName | titlecase }}</h2> -->
      <ion-row>
        <img src="../../../assets/icon/verified.png">
        <span>Verified</span>
      </ion-row>
    </ion-row>
  </ion-list>

  <ion-list>
    <span style="display: flex;">
      <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
      {{ profile_data?.offAddress }} {{ profile_data?.cityName }} {{ profile_data?.stateName }}
    </span>
  </ion-list>

  <ion-list *ngIf="profile_data?.adBio">
    <h3>About The Lawyer</h3>
    <p>{{ profile_data?.adBio || 'N/A' }}</p>
  </ion-list>

  <ion-list *ngIf="awards_list?.length > 0">
    <h3>Awards & Achievement</h3>
    <ion-list>
      <ion-chip *ngFor="let award of awards_list">{{ award.title }}</ion-chip>
    </ion-list>
  </ion-list>

  <ion-list>
    <h3>Specialization</h3>
    <ion-list>
      <ion-chip *ngFor="let spec of specializations">{{ spec.name }}</ion-chip>
    </ion-list>
  </ion-list>


  <ion-list style="margin: 0;" *ngIf="image_banner?.length > 0">
    <h3 class=" ion-padding">Gallery</h3>
    <div class="galleryList">
      <div class="images" *ngFor="let image of image_banner">
        <img alt="Lawyer Profile" [src]="image?.imageUrl ? img_url + image?.imageUrl : '' " />
      </div>
    </div>
  </ion-list>

  <ion-list style="margin: 0;" *ngIf="video_data?.length > 0">
    <h3 class="ion-padding">Legal Advice Videos</h3>
    <div class="videoList">
      <div class="video" *ngFor="let video of video_data" (click)="onVideo(video)">
        <img class="youtubelogo" src="https://www.iconpacks.net/icons/1/free-youtube-icon-141-thumb.png" alt=""
          style="width: 60px;">
        <img class="videoBanner"
          [src]="video?.bannerUrl ? img_url + video?.bannerUrl : '../../../assets/slider/slider_2.jpg'">
        <p>{{video?.title}}</p>
      </div>
    </div>
  </ion-list>


  <ion-list>
    <h3>Add your review here</h3>
    <ion-list>
      <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div id="starRating">
          <span class="star" [ngClass]="{'selected': rating >= 1}" (click)="onStarClick(1)">★</span>
          <span class="star" [ngClass]="{'selected': rating >= 2}" (click)="onStarClick(2)">★</span>
          <span class="star" [ngClass]="{'selected': rating >= 3}" (click)="onStarClick(3)">★</span>
          <span class="star" [ngClass]="{'selected': rating >= 4}" (click)="onStarClick(4)">★</span>
          <span class="star" [ngClass]="{'selected': rating >= 5}" (click)="onStarClick(5)">★</span>
        </div>
        <textarea formControlName="review" placeholder="Your message" required></textarea>
        &nbsp;
        <ion-button type="submit">Submit</ion-button>
      </form>
    </ion-list>
  </ion-list>

  <ion-list>
    <div class="cardInfo" *ngFor="let review of review_list">
      <h4>{{ review?.clientName }}</h4>
      <span>{{ review?.review }}</span>
      <ion-row>
        <ion-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" name="star"
          [ngClass]="{'orange-star': i < review.rating, 'black-star': i >= review.rating}">
        </ion-icon>
      </ion-row>
    </div>
  </ion-list>

</ion-content>