<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="onBack()"></ion-icon>
    <span>Advocate Portfolio</span>
  </div>
</div>

<ion-content>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="Lawyer Profile" [src]="profile_data?.profilePath ? img_url + profile_data?.profilePath : '' " />
    </ion-thumbnail>

    <ion-label>
      <ion-row class="ion-align-items-center">
        <ion-button>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
        <span>{{ profile_data?.avgUserRating }}</span>
      </ion-row>

      <!-- <ion-row class="ion-align-items-center">
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
        <span>{{ lawyer.reviews }}</span>
      </ion-row> -->

      <ion-row class="ion-align-items-center" (click)="makeCall(profile_data?.contactNum)">
        <ion-button>
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
        <p>{{ profile_data?.maskedContactNum }}</p>
      </ion-row>
      <ion-row class="ion-align-items-center" (click)="chatWithLawyer()">
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
        </ion-button>
        <p>Chat</p>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-row>
      <h2>{{ profile_data?.advocateName | titlecase }}</h2>
      <ion-row>
        <img src="../../../assets/icon/verified.png">
        <span>Verified</span>
      </ion-row>
    </ion-row>
  </ion-list>

  <ion-list>
    <span style="display: flex;">
      <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
      {{ profile_data?.offAddress }} {{ profile_data?.cityName }} {{ profile_data?.stateName }}
    </span>
  </ion-list>

  <ion-list *ngIf="profile_data?.adBio">
    <h3>About The Lawyer</h3>
    <p>{{ profile_data?.adBio || 'N/A' }}</p>
  </ion-list>

  <ion-list>
    <h3>Awards & Achievement</h3>
    <ion-list>
      <ion-chip *ngFor="let award of awards">{{ award.name }}</ion-chip>
    </ion-list>
  </ion-list>

  <ion-list>
    <h3>Specialization</h3>
    <ion-list>
      <ion-chip *ngFor="let spec of specializations">{{ spec.name }}</ion-chip>
    </ion-list>
  </ion-list>

  <ion-list style="margin: 0;" *ngIf="image_banner?.length > 0">
    <h3 class=" ion-padding">Gallery</h3>
    <div class="galleryList">
      <div class="images" *ngFor="let image of image_banner">
        <img alt="Lawyer Profile" [src]="image?.imageUrl ? img_url + image?.imageUrl : '' " />
      </div>
    </div>
  </ion-list>

  <ion-list style="margin: 0;">
    <h3 class="ion-padding">Legal Advice Videos</h3>
    <div class="videoList">
      <div class="video" *ngFor="let video of video_data">
        <iframe [src]="getSafeUrl(video?.videoUrl)" frameborder="0" allowfullscreen> </iframe>
      </div>
    </div>
  </ion-list>

</ion-content>