<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/dashboard"></ion-icon> 
    <span>Advocates</span>
    <ion-buttons size="small">
      <!-- <ion-icon slot="icon-only" name="options"></ion-icon> -->
    </ion-buttons>
  </div>
</div>

<ion-content>

  <ion-list>
    <div class="lawyerCard" *ngFor="let lawyer of advocated_list" (click)="advocate_Profile(lawyer)">
      <div class="cardImg">
        <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
      </div>
      <div class="cardInfo">
        <span>{{ lawyer?.advocateName }}</span>
        <p>{{ lawyer?.advocateTypeName || lawyer?.advocateType }}</p>
      </div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="locations">
          <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
          {{lawyer?.cityName || lawyer?.offAddress}} {{lawyer?.stateName}}
        </span>
        <span style="display: flex;">
          {{lawyer.avgUserRating}}<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
        </span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
        <span>Success Rate<br>{{ lawyer?.avgUserRating }} %</span> |
        <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
      </ion-row>
    </div>
  </ion-list>
</ion-content>