<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/account"></ion-icon>
    <span>Settings</span>
  </div>
</div>

<ion-content class="ion-padding settings-page">

  <ion-list class="settings-section">
    <!-- Account Management Section -->
    <ion-list-header>
      <ion-label>Account Management</ion-label>
    </ion-list-header>
    <ion-item button routerLink="/home/userprofile">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item button routerLink="/user/home/clientchangepassword">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Change password</ion-label>
    </ion-item>

    <!-- Help and Support -->
    <ion-list-header>
      <ion-label>Help & Support</ion-label>
    </ion-list-header>
    <ion-item button routerLink="/home/vakilcontactsupport">
      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>Contact support</ion-label>
    </ion-item>

    <ion-item button routerLink="/home/vakilreportaproblem">
      <ion-icon name="bug-outline" slot="start"></ion-icon>
      <ion-label>Report a problem</ion-label>
    </ion-item>

    <ion-item button routerLink="/home/vakilsupportandreuest">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Support requests</ion-label>
    </ion-item>

    <ion-item button routerLink="/home/vakilprivacyandsecurity">
      <ion-icon name="pricetags-outline" slot="start"></ion-icon>
      <ion-label>Privacy and security help</ion-label>
    </ion-item>

  </ion-list>
</ion-content>