<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/account"></ion-icon> <span>Income Tax</span>
  </div>
</div>

<ion-content>
  <h2 class="ion-padding">Income Tax</h2>

  <p class="ion-padding">
    Income tax is a tax levied on the income of an individual or an entity. It is one of the primary source of revenue
    of the government of India. The government undertakes various functions including welfare and development activities
    related to health, education and rural development etc. for which it requires public finance. Taxes are one of the
    major source through which the government raises revenue for public spending and it has been broadly categorized
    into the following two sections:
  </p>

  <p class="ion-padding"><b>Direct taxes</b>- These include taxes which are paid by the person on whom these are levied like income tax,
    corporation tax, etc.</p>

  <p class="ion-padding"><b>Indirect taxes</b>- These include taxes levied on goods and services rather than on income or profits like Goods and
    Services Tax.</p>

  <!-- Top Lawyer Section -->
  <ion-list>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Income Tax Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="seeAll()">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of topLawyers" (click)="advocateProfile()">
        <div class="cardImg">
          <img [src]="lawyer.image">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer.name }}</span>
          <p>{{ lawyer.description }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon> {{lawyer.address}}
          </span>
          <span style="display: flex;">
            {{lawyer.rating}}<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Case<br>{{ lawyer.caseCount }}</span>
          |
          <span>Success Rate<br>{{ lawyer.successRate }}%</span>
          |
          <span>Experience<br>{{ lawyer.experience }}yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>
</ion-content>