<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButtonToCaseList()"></ion-icon>
    <span>Case Hearing</span>
  </div>
</div>

<ion-row>
  <span>Total Hearing : {{caseHearingList.length || '0'}}</span>
  <ion-button size="small" fill="clear" shape="round" (click)="aboutCase()">About Case</ion-button>
</ion-row>

<ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)">
</ion-searchbar>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let data of caseHearingList" (click)="onDetails(data)">
      <ion-label>
        {{data?.caseNo || 'N/A' | titlecase}}
      </ion-label>
      <ion-label>
        {{data?.hearingDate || 'N/A'}}
      </ion-label>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>