<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButton1()"></ion-icon>
    <span>Case Hearing</span>
  </div>
</div>

<ion-row>
  <span>Total Hearing : {{case_hearing?.length || '0'}}</span>
  <ion-button size="small" fill="clear" shape="round" (click)="AboutCase()">About Case</ion-button>
</ion-row>

<ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)">
</ion-searchbar>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let data of case_hearing" (click)="openModal(data)">
      <ion-label>
        {{data?.caseNo || 'N/A'}}
      </ion-label>
      <ion-label>
        {{data?.hearingDate || 'N/A'}}
      </ion-label>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>



<ion-modal #modal>
  <ng-template>

    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="backButton()"></ion-icon>
        <span>Case Hearing</span>
      </div>
    </div>

    <ion-content>

      <ion-list>

        <ion-row>
          <span class="highlight">Client Name</span>
          <span class="highlight">{{case_hearing_details?.clientName}}</span>
        </ion-row>

        <ion-row>
          <span>Case Number</span>
          <span>{{case_hearing_details?.caseNo}}</span>
        </ion-row>
        <ion-row>
          <span>Lawyer User Id</span>
          <span>VU-34834</span>
        </ion-row>
        <ion-row>
          <span>Mobile Number</span>
          <span>{{case_hearing_details?.contactNum}}</span>
        </ion-row>
        <ion-row>
          <span>Next Date</span>
          <span style="color: green;">{{case_hearing_details?.hearingDate}}</span>
        </ion-row>

        <div class="description">
          <p>{{case_hearing_details?.caseSummary}}</p>
        </div>

      </ion-list>
      <ion-list>
        <div class="description">
          <h3>Required Documents</h3>

          <ion-list>
            <ion-item lines="none">
              <ion-icon name="ellipse" slot="start" size="small"></ion-icon>
              <ion-label>Aadhar Card</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="ellipse" slot="start" size="small"></ion-icon>
              <ion-label>Passport Size Photo</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="ellipse" slot="start" size="small"></ion-icon>
              <ion-label>1000 Rupees</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>

    </ion-content>
  </ng-template>
</ion-modal>