<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/forgotpassword"></ion-icon>
    <span>Create New Password</span>
  </div>
</div>

<ion-content>
  <div class="imgBox">
    <img src="../../assets/icon/security.jpg" alt="image">
  </div>

  <div class="infoBox">
    <p>
      Your new password must be different from previously used password.
    </p>
  </div>

  <form [formGroup]="forget_pass_form">
    <div class="actionBox">
      <ion-input label="Create New Password" label-placement="floating" fill="outline" formControlName="newPassword"
        required></ion-input>
      <ion-input label="Confirm New Password" label-placement="floating" fill="outline"
        formControlName="confirmPassword" required></ion-input>
      <div *ngIf="forget_pass_form.hasError('passwordMismatch') && forget_pass_form.get('confirmPassword')?.touched">
        <p style="color: red;">Password do not match</p>
      </div>
      <ion-button shape="round" class="Btn" (click)="confirmPassword()">Save</ion-button>
    </div>
  </form>
</ion-content>