<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/dashboard"></ion-icon><span>Advocate Category</span>
  </div>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>


  <ion-list *ngFor="let category of categories">
    <h3>{{category.title}}</h3>

    <div class="subMenuList">
      <div class="subMenu"  *ngFor="let menu of category.lawyers" (click)="filterAdvocate()">
        <div class="menuImg">
          <img [src]="menu.imgSrc">
        </div>
        <div class="menuInfo">{{menu.name}}</div>
      </div>
    </div>
  </ion-list>
</ion-content>