<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home/dashboard"></ion-icon> <span>Achievement</span>
  </div>
</div>
<ion-content>

  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)">
  </ion-searchbar>

  <ion-row>
    <span>Add Achievement</span>
    <ion-icon name="add-circle" (click)="AddAchievement()"></ion-icon>
  </ion-row>

  <ion-list>
    <ion-card *ngFor="let data of view_achivement">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">{{data?.title}}</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Description</span>
        <span>{{data?.desc}}</span>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center" *ngIf="data?.doc1Path">
        <span>Document 1</span>
        <ion-icon name="document-attach" (click)="downloadDocument(img_url + data?.doc1Path)" style="cursor: pointer;">
        </ion-icon>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center" *ngIf="data?.doc2Path">
        <span>Document 2</span>
        <ion-icon name="document-attach" (click)="downloadDocument(img_url + data?.doc2Path)" style="cursor: pointer;">
        </ion-icon>
      </ion-row>
    </ion-card>
    <p class="NoRecord" *ngIf="view_achivement?.length === 0">No Record Found</p>
  </ion-list>
</ion-content>



<!-- for add achievement form  -->
<ion-modal #modal>
  <ng-template>

    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="backButton()"></ion-icon> <span>Add Achievement</span>
      </div>
    </div>
    <ion-content>
      <ion-list>
        <form [formGroup]="achievement_form">
          <ion-input label="Title" formControlName="title" label-placement="floating" fill="outline"
            placeholder="Enter title">
          </ion-input>

          <ion-input type="file" label="Document 1" label-placement="floating" fill="outline" formControlName="docs1"
            (change)="onDocument($event)" accept=".jpg,.png,.jpeg">
          </ion-input>

          <ion-input type="file" label="Document 2" label-placement="floating" fill="outline" formControlName="docs1"
            (change)="onDocument1($event)" accept=".jpg,.png,.jpeg">
          </ion-input>


          <ion-input label="Description" formControlName="desc" label-placement="floating" fill="outline"
            placeholder="Enter Description">
          </ion-input>

          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
          </ion-row>
        </form>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>