<div class="header">
  <div class="navbar">
    <ion-icon slot="start" name="chevron-back" routerLink="/home/vakilsetting"></ion-icon>
    <span>Account Status</span>
  </div>
</div>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Account Type</ion-label>
        <ion-note slot="end" color="primary">
          {{ plan_data?.price !== 0 ? 'Premium' : 'Free User'}}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-note slot="end" [ngClass]="{'green-text': plan_data?.price !== 0, 'red-text': plan_data?.price == 0}">
          {{ plan_data?.price !== 0 ? 'Active' : 'Inactive'}}
        </ion-note>
      </ion-item>
      <ion-item *ngIf="plan_data?.startDate">
        <ion-label>Start Date</ion-label>
        <ion-note slot="end">{{plan_data?.startDate}}</ion-note>
      </ion-item>
      <ion-item *ngIf="plan_data?.endDate">
        <ion-label>End Date</ion-label>
        <ion-note slot="end">{{plan_data?.endDate}}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>