<div class="header">
  <div class="navbar">
    <ion-icon slot="start" name="chevron-back" routerLink="/home/vakilsetting"></ion-icon>
    <span>Account Status</span>
  </div>
</div>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Account Type</ion-label>
        <ion-note slot="end" color="primary">Premium</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-note slot="end" color="success">Active</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-note slot="end">2024-01-01</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-note slot="end">2024-12-31</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>