.header {
  width: 100%;
  height: 70px;
  background: var(--color-primary);
  color: var(--color-light);
  padding: 10px;
  display: flex;
  align-items: center;

  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    ion-icon {
      position: absolute;
      font-size: 24px;
      left: 10px;
    }

    span {
      font-size: 18px;
      margin: 0 auto;
    }
  }
}

.case-count{
  width: 100%;
  padding: 0px 20px;
}
ion-searchbar {
  width: calc(100% - 30px);
  margin: 15px;
  --background: #f8f9fa;
  --placeholder-color: #888;
  --color: #333;
}

.case-card {
  background-color: #fff;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.case-card:hover {
  transform: scale(1.02);
}

.case-details p {
  color: #555;
  margin-bottom: 10px;
}

.case-details p strong {
  font-weight: bold;
  color: #000;
}