<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home"></ion-icon> <span>Profile</span>
  </div>
</div>

<ion-content>
  <div class="profile">
    <div class="profileImage" [hidden]="profileSelected">
      <img
        [src]="edit_profile_data?.profilePath ? img_url + edit_profile_data.profilePath : '../../../assets/icon/profile.png'">
    </div>
    <div class="profileImage" [hidden]="profileSelect">
      <img [src]="profile_url" alt="">
      <input type="file" #fileInput (change)="onProfile(fileInput.files)">
    </div>

    <ion-button shape="round" (click)="fileInput.click()" *ngIf="!isEdit">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-button>
  </div>

  <div class="profileDetails">

    <div class="persinal">
      <ion-button (click)="onEdit()">{{isEdit?
        'Edit' : 'View'}}
      </ion-button>
    </div>

    <form [formGroup]="vakil_profile_update">

      <ion-input label="Full Name" label-placement="floating" required placeholder="Enter full name"
        formControlName="advocateName" [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="tel" label="Mobile Number" label-placement="floating" placeholder="Enter mobile number" required
        formControlName="contactNum" readonly [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="text" label="Email Id" label-placement="floating" required placeholder="Enter email id"
        formControlName="email" readonly [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-select label="Gender" label-placement="floating" placeholder="Select Gender" formControlName="gender"
        [disabled]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
        <ion-select-option value="Male"> Male </ion-select-option>
        <ion-select-option value="Female"> Female </ion-select-option>
        <ion-select-option value="Other"> Other </ion-select-option>
      </ion-select><br>

      <ion-select label="State" label-placement="floating" placeholder="Select State" (ionChange)="onCityChange($event)"
        formControlName="state" [disabled]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
        <ion-select-option *ngFor="let state of states" [value]="state?.Id">
          {{ state?.name}}
        </ion-select-option>
      </ion-select><br>

      <ion-select label="City" label-placement="floating" placeholder="Select City" formControlName="city"
        [disabled]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
        <ion-select-option *ngFor="let city of citys" [value]="city?.Id">
          {{city?.name}}
        </ion-select-option>
      </ion-select><br>

      <ion-select label="Court" label-placement="floating" interface="action-sheet" placeholder="Select Court"
        formControlName="courtType" [disabled]="isEdit" [fill]="isEdit? 'solid' : 'outline'" [multiple]="true">
        <ion-select-option *ngFor="let court of court_list" [value]="court?.CourtId">
          {{court?.courtName}}
        </ion-select-option>
      </ion-select><br>

      <ion-select label="Lawyer Type" label-placement="floating" interface="action-sheet"
        placeholder="Select lawyer type" formControlName="advType" [disabled]="isEdit"
        [fill]="isEdit? 'solid' : 'outline'" [multiple]="true">
        <ion-select-option *ngFor="let advocate of advocate_type" [value]="advocate?.Id">
          {{advocate?.name}}
        </ion-select-option>
      </ion-select><br>

      <ion-input type="text" label="Experiance" label-placement="floating" placeholder="Experiance" required
        formControlName="experiance" [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="date" label="Date Of Birth" label-placement="floating" required formControlName="DOB"
        [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="text" label="LLB Registration No" label-placement="floating"
        placeholder="Enter LLB Registration No" required formControlName="llbRegistrationNum" [readonly]="isEdit"
        [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="text" label="Office Address" label-placement="floating" placeholder="Enter Office Address"
        required formControlName="offAddress" [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <!-- Aadhar Card -->
      <div class="VakilDocuments" *ngIf="edit_profile_data?.adharUrl || !isEdit">
        <div class="Documents" [hidden]="AadharSelected">
          <span>Aadhar</span>
          <img
            [src]="edit_profile_data?.adharUrl? img_url+edit_profile_data?.adharUrl: '../../../assets/images/document.png'"
            alt="" width="100%" height="100%">
        </div>
      </div>

      <div class="VakilDocuments" *ngIf="!isEdit">
        <div class="Documents" [hidden]="AadharSelect">
          <span>Aadhar Card</span>
          <img alt="documents" [src]="Aadhar_img_url">
          <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #Aadhar (change)="onAadhar(Aadhar.files)">
        </div>
        <div class="SelectAadhar">
          <ion-text>Aadhar Card</ion-text>
          <ion-fab>
            <ion-fab-button size="small">
              <ion-icon name="add-circle-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button (click)="Aadhar.click()">
                <ion-icon name="image-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </div>

      <!-- Pan Card -->
      <div class="VakilDocuments" *ngIf="edit_profile_data?.panUrl || !isEdit">
        <div class="Documents" [hidden]="PanSelected">
          <span>Pan Card</span>
          <img
            [src]="edit_profile_data?.panUrl? img_url+edit_profile_data?.panUrl: '../../../assets/images/document.png'"
            alt="" width="100%" height="100%">
        </div>
      </div>

      <div class="VakilDocuments" *ngIf="!isEdit">
        <div class="Documents" [hidden]="PanSelect">
          <span>Pan Card</span>
          <img alt="documents" [src]="Pan_img_url">
          <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #Pan (change)="onPan(Pan.files)">
        </div>
        <div class="SelectAadhar">
          <ion-text>Pan Card</ion-text>
          <ion-fab>
            <ion-fab-button size="small">
              <ion-icon name="add-circle-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button (click)="Pan.click()">
                <ion-icon name="image-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </div>

      <!-- Bar Counselling Certificate -->
      <div class="VakilDocuments" *ngIf="edit_profile_data?.barcouncilUrl || !isEdit">
        <div class="Documents" [hidden]="BarCouncilSelected">
          <span>Bar Counselling Certificate</span>
          <img
            [src]="edit_profile_data?.barcouncilUrl? img_url+edit_profile_data?.barcouncilUrl: '../../../assets/images/document.png'"
            alt="" width="100%" height="100%">
        </div>
      </div>

      <div class="VakilDocuments" *ngIf="!isEdit">
        <div class="Documents" [hidden]="BarCouncilSelect">
          <span>Bar Counselling Certificate</span>
          <img alt="documents" [src]="BarCouncil_img_url">
          <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #BarCouncil
            (change)="onBarCouncil(BarCouncil.files)">
        </div>
        <div class="SelectAadhar">
          <ion-text>Bar Counselling Certificate</ion-text>
          <ion-fab>
            <ion-fab-button size="small">
              <ion-icon name="add-circle-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button (click)="BarCouncil.click()">
                <ion-icon name="image-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </div>

      <!-- LLB Certificate -->
      <div class="VakilDocuments" *ngIf="edit_profile_data?.llbUrl || !isEdit">
        <div class="Documents" [hidden]="LLBCSelected">
          <span>LLB Certificate</span>
          <img
            [src]="edit_profile_data?.llbUrl? img_url+edit_profile_data?.llbUrl: '../../../assets/images/document.png'"
            alt="" width="100%" height="100%">
        </div>
      </div>

      <div class="VakilDocuments" *ngIf="!isEdit">
        <div class="Documents" [hidden]="LLBCSelect">
          <span>LLB Certificate</span>
          <img alt="documents" [src]="LLBC_img_url">
          <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #LLBC (change)="onLLBC(LLBC.files)">
        </div>
        <div class="SelectAadhar">
          <ion-text>LLB Certificate</ion-text>
          <ion-fab>
            <ion-fab-button size="small">
              <ion-icon name="add-circle-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button (click)="LLBC.click()">
                <ion-icon name="image-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </div>

      <ion-input label="Bio" label-placement="floating" formControlName="adBio" type="text" placeholder="Enter Bio"
        [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <div class="btn">
        <ion-button shape="round" (click)="submit()" *ngIf="!isEdit">Submit</ion-button>
      </div>

    </form>
  </div>

</ion-content>