<div class="header">
  <ion-title>Membership</ion-title>
</div>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let premium of membershipDetail">
        <ion-card>
          <div [ngClass]="{
             'card-gold header-gold': premium.planName.trim().toLowerCase() === 'gold',
            'card-silver header-silver': premium.planName.trim().toLowerCase() === 'silver',
            'card-platinum header-platinum': premium.planName.trim().toLowerCase() === 'platinum',
            'card-default header-default': premium.planName.trim().toLowerCase() !== 'gold' && premium.planName.trim().toLowerCase() !== 'silver' && premium.planName.trim().toLowerCase() !== 'platinum'
          }">
            <img src="../../../assets/menuIcon/gold.png" width="80px"
              *ngIf="premium.planName.trim().toLowerCase() === 'gold',">

            <img src="../../../assets/menuIcon/silver.png" width="80px"
              *ngIf="premium.planName.trim().toLowerCase() === 'silver',">

            <img src="../../../assets/menuIcon/platinum.png" width="80px"
              *ngIf="premium.planName.trim().toLowerCase() === 'platinum',">

            <img src="../../../assets/icon/silver.png" width="80px"
              *ngIf="premium.planName.trim().toLowerCase() !== 'gold' && premium.planName.trim().toLowerCase() !== 'silver' && premium.planName.trim().toLowerCase() !== 'platinum'">
            <h1>{{premium.planName}}</h1>
          </div>

          <ion-card-header>
            <ion-card-title>{{premium.planType}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <p class="description">{{premium?.description}}</p>
              </ion-item>
              <ion-item>
                <p><strong>Old Price: </strong> <del> {{premium?.oldPrice | currency:'INR'}} </del></p>
              </ion-item>
              <ion-item>
                <p><strong>New Price: </strong> {{premium?.newPrice | currency:'INR'}}</p>
              </ion-item>
              <ion-item>
                <p><strong>Discount: </strong> {{premium?.discount}}% (You save {{premium?.discountAmount |
                  currency:'INR'}})</p>
              </ion-item>

              <div>
                <h3>Features</h3>
                <ion-item *ngFor="let featurs of premium?.features_list; let i=index">
                  <p><b>{{i+1}} &nbsp; </b> {{featurs?.name}}</p>
                </ion-item>
              </div>
            </ion-list>

            <ion-button [ngClass]="(premium?.id % 2 === 0) ? 'btn-basic' : 'btn-premium'" expand="block"
              [disabled]="premium?.id == memberships?.planId" (click)="onPayment(premium)">
              {{ premium?.id == memberships?.planId ? 'Purchase' : 'BUY NOW' }}
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>