<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let message of messages" @messageAnimation>
      <ion-label [slot]="message.sender === 'me' ? 'end' : 'start'"
                 [class]="message.sender === 'me' ? 'meText' : 'aiText'">
        <p>{{ message.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-input [(ngModel)]="userInput" [disabled]="showAreaOfLawList || showIssueList"
               [placeholder]="showAreaOfLawList || showIssueList ? 'Choose from the options given below' : 'Enter your name'">
    </ion-input>
    <ion-button shape="round" (click)="sendMessage()" [disabled]="!userInput || showAreaOfLawList || showIssueList">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list lines="full" *ngIf="showAreaOfLawList" @footerListAnimation id="areaOfLaw">
    <ion-item *ngFor="let issue of areaOfLawIssues" (click)="selectAreaOfLaw(issue)">
      <ion-label>{{ issue }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" *ngIf="showIssueList" @footerListAnimation id="issue">
    <ion-item *ngFor="let issue of propertyIssues" (click)="selectPropertyIssue(issue)">
      <ion-label>{{ issue }}</ion-label>
    </ion-item>
  </ion-list>
</ion-footer>
