<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home"></ion-icon>
    <span>Live Chat</span>
  </div>
</div>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let message of messages" @messageAnimation>
      <ion-label [slot]="message.sender === 'me' ? 'end' : 'start'"
        [class]="message.sender === 'me' ? 'meText' : 'aiText'">
        <p>{{ message.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item lines="none" *ngIf="finalSubmited">
    <form [formGroup]="clientForm">
      <!-- Name input field -->
      <ion-input formControlName="clientName" [(ngModel)]="userInput"
        *ngIf="inputVisible && !isAskingForPhoneNumber && !emailId && !showCityList" type="text"
        placeholder="Enter your name"></ion-input>

      <!-- Phone number input field -->
      <ion-input formControlName="ContactNum" [(ngModel)]="userInput"
        *ngIf="isAskingForPhoneNumber && !emailId && !showCityList" type="number"
        placeholder="Enter your phone number"></ion-input>

      <!-- Email input field -->
      <ion-input formControlName="email" [(ngModel)]="userInput" *ngIf="emailId && !showCityList" type="email"
        placeholder="Enter your email address">
      </ion-input>

      <!-- City select field -->
      <ion-select formControlName="city" label="Select city" fill="fill" label-placement="floating"
        interface="action-sheet" placeholder="Select City" *ngIf="showCityList" [(ngModel)]="selectedCityId"
        (ionChange)="selectCity()">
        <ion-select-option *ngFor="let city of cities" [value]="city.Id">
          {{city.name}}
        </ion-select-option>
      </ion-select>

      <!-- description input field -->
      <ion-input formControlName="description" [(ngModel)]="userInput" *ngIf="description && !showCityList" type="text"
        placeholder="Enter your message">
      </ion-input>

      <ion-button shape="round" (click)="sendMessage()" [disabled]="!userInput">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </form>
  </ion-item>

  <!-- Area of Law List -->
  <ion-list lines="full" *ngIf="showAreaOfLawList" @footerListAnimation>
    <ion-item *ngFor="let issue of areaOfLawIssues" (click)="category_select(issue)">
      <ion-label>{{ issue?.categoryName }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Property Issue List -->
  <ion-list lines="full" *ngIf="showIssueList" @footerListAnimation>
    <ion-item *ngFor="let issue of propertyIssues" (click)="sub_cat_Issue(issue)">
      <ion-label>{{ issue?.subcategoryName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-footer>