<div class="header">
  <div class="navbar">
    <ion-icon slot="start" name="chevron-back" routerLink="/home/vakilsetting"></ion-icon>
    <span>Report a problem</span>
  </div>
</div>

<ion-content>
  <form [formGroup]="contactForm" (ngSubmit)="submitSupportRequest()" class="contact-form">

    <ion-textarea formControlName="description" placeholder="Describe the issue" fill="outline">
    </ion-textarea>

    <ion-text>Upload Screen</ion-text>
    <ion-input formControlName="image" type="file" fill="outline">
    </ion-input>


    <ion-row>
      <ion-button expand="block" type="submit" [disabled]="contactForm.invalid">
        Send report
      </ion-button>
    </ion-row>
  </form>
</ion-content>