<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back"  (click)="backButton()"></ion-icon> <span>About Case</span>
  </div>
</div>
<ion-content>
  <div class="caseInfo">
    <h4 class="text_color">Case Title</h4>
    <ion-row class="ion-justify-content-between border">
      <span class="highlight">Case Number</span>
      <span class="highlight">CN-394232</span>
    </ion-row>
  </div>

  <div class="caseList">
    <ion-list>
      <ion-row>
        <span class="highlight">Lawyer Name</span>
        <span class="highlight">Abhishek Patel</span>
      </ion-row>

      <ion-row>
        <span>Lawyer User Id</span>
        <span>VU-34834</span>
      </ion-row>

      <ion-row>
        <span>Mobile Number</span>
        <span>9934342332</span>
      </ion-row>

    </ion-list>

    <ion-list>
      <ion-row>
        <span class="highlight">Client Name</span>
        <span class="highlight">Manoj Kumar</span>
      </ion-row>
      <ion-row>
        <span>Client User Id</span>
        <span>VU-54654</span>
      </ion-row>
      <ion-row>
        <span>Mobile Number</span>
        <span>4565465465</span>
      </ion-row>
    </ion-list>

    <ion-list>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore soluta ullam alias, neque commodi quidem
        fugit. Quo ab reiciendis placeat. Quaerat voluptates repellendus suscipit quos recusandae, accusamus cupiditate
        culpa pariatur?</p>
    </ion-list>

    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Members</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Rohit Kumar</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lalan Mahato</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Jignesh Patel</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>

  <div class="caseList">
    <h4 class="text_color">Defendant</h4>
    <ion-list>
      <ion-row>
        <span class="highlight">Lawyer Name</span>
        <span class="highlight">Sunil Mishra</span>
      </ion-row>
      <ion-row>
        <span>Lawyer User Id</span>
        <span>VU-76573</span>
      </ion-row>
      <ion-row>
        <span>Mobile Number</span>
        <span>9934342332</span>
      </ion-row>
    </ion-list>

    <ion-list>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore soluta ullam alias, neque commodi quidem
        fugit. Quo ab reiciendis placeat. Quaerat voluptates repellendus suscipit quos recusandae, accusamus cupiditate
        culpa pariatur?</p>
    </ion-list>

    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Members</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Rohit Kumar</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lalan Mahato</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Jignesh Patel</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>