<div class="header">
  <div class="navbar">
     <span>IPC Section</span>
  </div>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>
  
  <!-- Top Lawyer Section -->
  <ion-list>
    
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_Lawyers" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateType }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon> {{lawyer?.offAddress}}
          </span>
          <span style="display: flex;">
            {{lawyer.rating}}<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Success Rate<br>{{ lawyer?.avgUserRating }} %</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <ion-list>
    <h3 class="ion-padding">IPC Section</h3>
    <ion-item *ngFor="let section of ipc_list" (click)="onDetails(section)">
      <ion-label>{{ section?.actSection }}</ion-label>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
