.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }

        span {
            font-size: 16px;
            margin: 0 auto;
        }
    }
}

ion-content {

    ion-searchbar {
        position: sticky;
        top: 0;
        z-index: 10;
        background: var(--color-light);
    }

    // for categores menu scss 
    ion-list {
        margin: 5px 0 0;

        ion-row {
            span {
                font-size: 18px;
                font-weight: 600;
                color: var(--color-dark);
            }

            ion-button {
                color: var(--color-primary);
                text-transform: capitalize;
            }
        }

        // menu list for menu icons/ top lawyers overflow: design 
        .menuList {
            width: 100%;
            display: flex;
            gap: 10px;
            overflow: auto;
            padding: 10px;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;


            // for top advocate scss code here 
            .lawyerCard {
                width: clamp(280px, 66vw, 350px);
                height: auto;
                border-radius: 7px;
                background-color: var(--color-light);
                overflow: hidden;
                padding: 7px;
                text-align: center;
                flex: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                scroll-snap-align: center;


                .cardImg {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    overflow: hidden;
                    float: left;
                    background-color: lightblue;
                    margin: 0 0 10px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .cardInfo {
                    width: calc(100% - 110px);
                    height: 75px;
                    overflow: hidden;
                    margin: 0px 0px 0px 10px;
                    float: right;
                    text-align: left;
                    text-overflow: ellipsis;

                    span {
                        font-size: 16px;
                        font-weight: 600;
                        text-wrap: nowrap;
                        color: var(--color-primary);
                    }

                    p {
                        font-size: 12px;
                        margin: 3px 0;
                        color: var(--color-dark);
                    }
                }

                ion-row {
                    clear: both;
                    margin: 10px 0 0;

                    span {
                        font-size: 12px;
                    }
                }
            }
        }

        h5 {
            position: sticky;
            top: 58px;
            z-index: 10;
            background: var(--color-light);
            margin: 0;
            color: var(--color-primary);
            font-weight: 600;
        }
    }
}


.NoRecord {
    padding-left: 20px;
    margin: 0px;
}