<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/dashboard"></ion-icon> <span>Address</span>
  </div>
</div>
<ion-content class="ion-padding">
  <ion-input label="House No, Building Name" label-placement="floating" fill="outline"
    [value]="locationDetails.village || locationDetails1.village1"></ion-input>

  <ion-input label="City Name" label-placement="floating" fill="outline"
    [value]="locationDetails.district || locationDetails1?.district1"></ion-input>

  <ion-input label="State" label-placement="floating" fill="outline"
    [value]="locationDetails.state || locationDetails1?.state1"></ion-input>

  <ion-input label="Country" label-placement="floating" fill="outline"
    [value]="locationDetails.country || locationDetails1?.country1"></ion-input>

  <div class="locationDiv">
    <ion-input label="Pincode" label-placement="floating" fill="outline"
      [value]="locationDetails.pinCode || locationDetails1?.pinCode1"></ion-input>
    <ion-button (click)="onLocationOpen()"><ion-icon name="locate"></ion-icon>Location</ion-button>
  </div>

  <ion-button shape="round">Submit</ion-button>
</ion-content>