<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home/account"> </ion-icon>
    <span>Plan Validity</span>
  </div>
</div>


<ion-content>
  <ion-card class="membership-card">
    <ion-card-header>
      <ion-card-title *ngIf="plan_data?.price == 0" routerLink="/vakil/home/membership">
        <span>
          You are a free user for access features
        </span>
        <ion-button>Upgrade your plan</ion-button>
      </ion-card-title>
      <ion-card-title class="member-name" *ngIf="plan_data?.planName">{{ plan_data?.planName }}</ion-card-title>
      <ion-card-subtitle class="fee" *ngIf="plan_data?.price">Fee: {{ plan_data?.price | currency:'INR' || 'N/A'
        }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="date-row">
          <ion-col size="6" style="color: #4CAF50;" *ngIf="plan_data?.startDate">
            <div class="date_membership">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label class="date-label"><strong>Start Date:</strong></ion-label>
            </div>
            <p>{{ plan_data?.startDate | date: 'mediumDate' || 'N/A' }}</p>
          </ion-col>
          <ion-col size="6" style="color: red;" *ngIf="plan_data?.endDate">
            <div class="date_membership">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label class="date-label"><strong>End Date:</strong></ion-label>
            </div>
            <p>{{ plan_data?.endDate | date: 'mediumDate' || 'N/A' }}</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="plan_data?.featuresArray">
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              <ion-label><strong>Features</strong></ion-label>
            </ion-item>
            <ion-list>
              <ion-item *ngFor="let feature of plan_data?.featuresArray" lines="none" class="feature-item">
                <ion-icon name="star-outline" slot="start" color="primary"></ion-icon>
                <ion-label>{{ feature || 'N/A' }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>