<div class="header">
  <ion-icon slot="start" name="chevron-back" routerLink="/vakil/home"></ion-icon>
  <span>Clients</span>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"></ion-searchbar>
  <h6 style="margin: 5px 10px;">Total : {{clients?.length || '0'}}</h6>

  <ion-list id="client-list">
    <ion-card *ngFor="let client of clients" (click)="totalcase(client?.id)">
      <div class="client-text">
        <ion-row>
          <span class="highlight">Name </span>
          <span class="highlight">{{client.clientName || 'N/A' | titlecase}}</span>
        </ion-row>
        <ion-row>
          <span>Contact </span>
          <span>{{client.contactNum || 'N/A'}} </span>
        </ion-row>
        <ion-row>
          <span>Case Title</span>
          <span>{{client.caseTitle || 'N/A' | titlecase}}</span>
        </ion-row>
        <ion-row>
          <span>Case No</span>
          <span>{{client.caseNo || 'N/A'}}</span>
        </ion-row>
        <ion-row style="color: green;">
          <span>Total Case</span>
          <span>
           <b> {{client.TotalCase || 'N/A'}}</b>
          </span>
        </ion-row>
      </div>
      <div class="cleint-profile">
        <img [src]="client?.profile ? img_url+client.profile:  '../../../assets/icon/profile.png'" alt="">
      </div>
    </ion-card>
  </ion-list>
  <p class="NoRecord" *ngIf="clients?.length === 0">No Record Found</p>
</ion-content>