<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home/dashboard"></ion-icon> <span>Image & Banner</span>
  </div>
</div>
<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"></ion-searchbar>

  <ion-row>
    <span>Add Image & Banner</span>
    <ion-icon name="add-circle" (click)="AddImage()"></ion-icon>
  </ion-row>

  <ion-list *ngFor="let image of image_banner">
    <ion-card>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">{{image?.title || 'N/A'}}</span>
      </ion-row>
      <img alt="Image & Banner"
        [src]="image?.imageUrl ? img_url+image?.imageUrl : '../../../assets/images/image_1.jfif'" />
    </ion-card>
  </ion-list>
  <p class="NoRecord" *ngIf="image_banner?.length === 0">No Record Found</p>

</ion-content>


<!-- for add publication  -->
<ion-modal #modal>
  <ng-template>

    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="backButton()"></ion-icon> <span>Add Image & Banner</span>
      </div>
    </div>
    <ion-content>
      <ion-list>
        <form [formGroup]="addImage_form">
          <ion-input type="text" label="Image title" label-placement="floating" fill="outline" placeholder="Image title"
            formControlName="title">
          </ion-input>


          <ion-input type="file" label="Image & Banner" label-placement="floating" fill="outline" formControlName="image"
            (change)="onBanner($event)" accept=".jpg,.png,.jpeg">
          </ion-input>

          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
          </ion-row>
        </form>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>