<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home"></ion-icon>
    <span>Today Hearing</span>
  </div>
</div>

<ion-content class="custom-content">


  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)" class="custom-searchbar">
  </ion-searchbar>
  <ion-row>
    <span>Total Hearing: {{ upcuming_court?.length || '0' }}</span>
  </ion-row>

  <div class="contentList">
    <ion-list>
      <ion-item lines="full" *ngFor="let data of upcuming_court" class="hearing-item">
        <ion-label>
          <h3>Name :- {{ data?.clientName || 'N/A' | titlecase }}</h3>
          <p>Contact Number :- {{ data?.contactNum }}</p>
          <p>Case Number :- {{ data?.caseNo }}</p>
          <p style="color:#27AE60;">Hearing Date :- {{ data?.hearingDate }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>