<ion-content>
  <div class="login-junction-container">
    <!-- Image Box -->
    <div class="imgBox">
      <img src="../../../assets/icon/logo.png" alt="Vakil Uncle App" style="width: 100px;" />
    </div>

    <div class="main">
      <!-- Title -->
      <h2>Welcome to Vakil Uncle</h2>
      <p>Sign in or create an account to start exploring Vakil and Client services.</p>

      <!-- Registration Buttons -->
      <div class="button-container">
        <ion-button expand="full" shape="round" (click)="vakilLogin()">
          Vakil
        </ion-button>
        <ion-button expand="full" shape="round" (click)="clientLogin()">
          Client
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>