<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButtonToCaseList()"></ion-icon>
    <span>Case Hearing Details</span>
  </div>
</div>

<ion-content>
  <ion-list>
    <ion-row>
      <span class="highlight">Client Name</span>
      <span class="highlight">{{caseHearingDetails?.clientName}}</span>
    </ion-row>

    <ion-row>
      <span>Case Number</span>
      <span>{{caseHearingDetails?.caseNo}}</span>
    </ion-row>

    <ion-row>
      <span>Mobile Number</span>
      <span>{{caseHearingDetails?.contactNum}}</span>
    </ion-row>
    <ion-row>
      <span>Next Date</span>
      <span style="color: green;">{{caseHearingDetails?.hearingDate}}</span>
    </ion-row>

    <div class="description">
      <h4>Summary</h4>
      <p>{{caseHearingDetails?.caseSummary}}</p>
    </div>

  </ion-list>
  <ion-list>
    <div class="description">
      <h3>Required Documents</h3>
      <ion-item lines="none" *ngFor="let data of caseHearingDetails?.documents">
        <ion-icon name="ellipse" slot="start" size="small"></ion-icon>
        <ion-label>{{data?.name | titlecase}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>