<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="onBack()"></ion-icon>
    <span>Payment History</span>
  </div>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>
  <div class="addbutton" (click)="addPayment()">
    <ion-row class="AddCase">
      <ion-icon name="add-circle"></ion-icon>
      <span>Add Payment</span>
    </ion-row>
  </div>
  <h6 style="margin: 5px 10px;  display: flex;  justify-content: space-between;">
    <span> Total : {{cases?.length || '0'}} </span>
    <span style="text-align: end;">{{payHistory_data?.name}}</span>
  </h6>
  <ng-container *ngFor="let fee of cases">
    <ion-card>
      <div>
        <ion-row *ngIf="fee?.fee">
          <span class="highlight">
            <ion-icon name="logo-alipay"></ion-icon>&nbsp;
            Fee
          </span>
          <span class="highlight">{{ fee?.fee || 'N/A' }}</span>
        </ion-row>

        <ion-row *ngIf="fee?.extracharge">
          <span> <ion-icon name="wallet-outline"></ion-icon>&nbsp; Extra Charge </span>
          <span>{{ fee?.extracharge || 'N/A' }}</span>
        </ion-row>

        <ion-row style="color: red;" *ngIf="fee?.due">
          <span><ion-icon name="newspaper-outline"></ion-icon>&nbsp; Total Due</span>
          <span>{{ fee?.due || 'N/A' }}</span>
        </ion-row>


        <ion-row style="color: green;" *ngIf="fee?.Clientpayment">
          <span><ion-icon name="sunny-outline"></ion-icon>&nbsp; Client Paid</span>
          <span>{{ fee?.Clientpayment || 'N/A' }}</span>
        </ion-row>

        <ion-row [ngStyle]="{'color': fee?.Clientpayment ? 'green' : 'red'}">
          <span><ion-icon name="calendar-outline"></ion-icon>&nbsp; Date</span>
          <span>{{ fee?.date || 'N/A' }}</span>
        </ion-row>

      </div>

    </ion-card>
  </ng-container>
  <p class="NoRecord" *ngIf="cases?.length === 0">No Record Found</p>
</ion-content>