<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home"></ion-icon> <span>Profile</span>
  </div>
</div>

<ion-content>
  <div class="profile">
    <div class="profileImage" [hidden]="profileSelected">
      <img
        [src]="edit_profile_data?.profile ? img_url + edit_profile_data.profile : '../../../assets/icon/profile.png'">
    </div>
    <div class="profileImage" [hidden]="profileSelect">
      <img [src]="profile_url" alt="">
      <input type="file" #fileInput (change)="onProfile(fileInput.files)">
    </div>

    <ion-button shape="round" (click)="fileInput.click()" *ngIf="!isEdit">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-button>
  </div>

  <div class="profileDetails">

    <div class="persinal">
      <ion-button (click)="onEdit()">{{isEdit?
        'Edit' : 'View'}}
      </ion-button>
    </div>

    <form [formGroup]="client_profile_update">

      <ion-input label="Full Name" label-placement="floating" required placeholder="Enter full name"
        formControlName="clientName" [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="tel" label="Mobile Number" label-placement="floating" placeholder="Enter mobile number" required
        formControlName="contactNum" readonly [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-input type="tel" label="Email Id" label-placement="floating" required
        placeholder="Enter email id" formControlName="email" [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <ion-select label="Gender" label-placement="floating" interface="action-sheet"
        placeholder="Select Gender" formControlName="gender" [disabled]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
        <ion-select-option value="Male"> Male </ion-select-option>
        <ion-select-option value="Female"> Female </ion-select-option>
        <ion-select-option value="Other"> Other </ion-select-option>
      </ion-select><br>

      <ion-select label="State" label-placement="floating" interface="action-sheet"
        placeholder="Select State" (ionChange)="onCityChange($event)" formControlName="state" [disabled]="isEdit"
        [fill]="isEdit? 'solid' : 'outline'">
        <ion-select-option *ngFor="let state of states" [value]="state?.Id">
          {{ state?.name}}
        </ion-select-option>
      </ion-select><br>

      <ion-select label="City" label-placement="floating" interface="action-sheet"
        placeholder="Select City" formControlName="city" [disabled]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
        <ion-select-option *ngFor="let city of citys" [value]="city?.Id">
          {{city?.name}}
        </ion-select-option>
      </ion-select><br>

      <ion-input type="text" label="Office Address" label-placement="floating" placeholder="Enter Office Address"
        required formControlName="address" [readonly]="isEdit" [fill]="isEdit? 'solid' : 'outline'">
      </ion-input>

      <div class="btn">
        <ion-button shape="round" (click)="submit()" *ngIf="!isEdit">Submit</ion-button>
      </div>

    </form>
  </div>

</ion-content>