<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/home/vakiltotalcase"></ion-icon>
    <span>Add Case</span>
  </div>
</div>

<ion-content>

  <form [formGroup]="upload_docs_form">
    <ion-list>
      <ion-input label="Document Name" label-placement="floating" fill="outline" required formControlName="Document_Name">
      </ion-input>

      <ion-input type="file" label="Document Upload" label-placement="floating" fill="outline" formControlName="document"
        (change)="onAadhar($event)" accept=".jpg,.png,.jpeg">
      </ion-input>

    </ion-list>
  </form>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
  </ion-row>
</ion-content>