<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/home/vakiltotalcase"></ion-icon>
    <span>Add Document</span>
  </div>
</div>

<ion-content>

  <form [formGroup]="upload_docs_form">
    <ion-list>
      <ion-input fill="outline" required formControlName="Document_Name" placeholder="Document name">
      </ion-input>

      <ion-text>Document Upload</ion-text>
      <ion-input type="file" fill="outline" formControlName="document" (change)="onAadhar($event)"
        accept=".jpg,.png,.jpeg">
      </ion-input>

    </ion-list>
  </form>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="onSubmit()" [disabled]="!upload_docs_form.valid">Submit</ion-button>
  </ion-row>
</ion-content>