.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        
        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }
        
        span {
            font-size: 16px;
            margin: 0 auto;
        }
    }
}

ion-content {
    ion-list {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ion-row {
            padding: 10px;
            display: flex;
            align-items: center;
            font-size: 16px;
            justify-content: space-between;
            background: var(--color-secondary);
            font-weight: 600;
            color: var(--color-dark);

            ion-icon {
                font-size: 30px;
                color: var(--color-primary);
            }
        }

        ion-textarea {
            min-height: 200px;
            margin-top: 20px;
        }
    }

    ion-button{
        --background: var(--color-primary);
    }
}
