.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }

        span {
            font-size: 16px;
            margin: 0 auto;
        }
    }
}


ion-content {
     // for menu bar design on top 
     .menubar {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(142px, 4fr));
        gap: 10px;
        padding: 10px;

        .menuBox {
            border-radius: 5px;
            background-color: var(--color-light);
            overflow: hidden;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

            .menuIcon {
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                img {
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    background-color: var(--color-secondary);
                }

                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--color-primary);
                    width: calc(100% - 100px);
                    text-align: center;
                    text-wrap: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .menuInfo {
                width: 100%;
                height: calc(100% - 55px);
                text-align: center;
                color: var(--color-primary);
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 5px;
                font-size: 15px;
                text-wrap: nowrap;
            }

        }

        // for features menu design 
        .featuremenu {
            height: 85px;
            border-radius: 7px;
            background-color: var(--color-light);
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px;
            --background: none;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

            ion-icon {
                border-radius: 50%;
                background: var(--color-secondary);
                padding: 7px;
                color: crimson;
                font-size: 20px;
            }

            span {
                color: var(--color-primary);
                width: calc(100% - 45px);
                font-size: 15px;
            }
        }
    }

}