<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButton()"></ion-icon> <span>Constitution of India</span>
  </div>
</div>

<ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let article of articles" (click)="kanoot_id(article)">
      <ion-label>{{ article?.bareType }}</ion-label>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>