<div class="header">
  <ion-buttons shape="round" routerLink="/home/userprofile">
    <ng-container *ngIf="profile_data?.profile; else iconTemplate">
      <img [src]="img_url + profile_data?.profile" alt="Profile Image"
        style="width: 40px; height: 40px; border: 2px solid white; border-radius: 50px;">
    </ng-container>
    <ng-template #iconTemplate>
      <ion-icon name="person-circle" style="font-size: 40px; color: white;"></ion-icon>
    </ng-template>
  </ion-buttons>
</div>


<ion-content>
  <ion-searchbar color="light" [placeholder]="'Search for '+currentPlaceholder" (click)="searchPage()"></ion-searchbar>

  <!-- Slider Section -->
  <div class="slider">
    <span *ngIf="!slider_data?.length">
      <img src="../../../assets/slider/slider_5.jfif" alt="" width="100%" height="215px">
    </span>
    <swiper [spaceBetween]="10" [centeredSlides]="true" [autoplay]="{delay: 1000, disableOnInteraction: false}"
      [pagination]="{clickable: true, dynamicBullets: true}" [grabCursor]="true" [navigation]="true" class="sliderBox">
      <ng-template swiperSlide *ngFor="let slider of slider_data">
        <img [src]="slider.banerUrl ? img_url + slider?.banerUrl : '../../../assets/slider/slider_1.jpg' "
          alt="Slider image">
      </ng-template>
    </swiper>
  </div>

  <ion-list>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Ask Question</span>
    </ion-row>

    <div class="QueryBtnList">
      <ion-button class="questionBtn" routerLink="/home/talktolawyer"><img
          src="../../../assets/menuIcon/customer_care.png">&nbsp; Talk To A Lawyer</ion-button>

      <ion-button class="questionBtn" routerLink="/home/askquestion"><img
          src="../../../assets/menuIcon/ask_question.png">&nbsp; Ask A Free Question</ion-button>

      <ion-button shape="round" (click)="robotChat()">
        <ion-icon slot="icon-only" name="logo-ionitron"></ion-icon>
      </ion-button>
    </div>

  </ion-list>

  <!-- Type Of Lawyers Section -->
  <ion-list *ngIf="Lawyers_types?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Type Of Lawyers</span>
    </ion-row>
    <div class="menuList">
      <div class="chipList" *ngFor="let type of Lawyers_types" (click)="filterAdvocate(type.Id)">
        <ion-chip>{{type?.name}}</ion-chip>
      </div>
    </div>
  </ion-list>

  <!-- Type Of kanoon Section -->

  <ion-list *ngIf="kanoon_list?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Indian Kanoon</span>
      <ion-button size="small" fill="clear" shape="round" (click)="allKanoon()">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="chipList" *ngFor="let kanoon of kanoon_list" (click)="kanoon_id(kanoon)">
        <ion-chip>{{kanoon?.bareType}}</ion-chip>
      </div>
    </div>
  </ion-list>

  <!-- Top Lawyer Section -->
  <ion-list *ngIf="top_Lawyers?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_Lawyers)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_Lawyers" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateType }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon> {{lawyer?.offAddress}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top Properity Lawyer Section -->
  <ion-list *ngIf="top_properity?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Properity Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_properity)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_properity" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp; <ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>

  <!-- nearest Lawyer Section -->
  <ion-list *ngIf="nearest_Lawyers?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Nearest Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(nearest_Lawyers)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of nearest_Lawyers" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp; <ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- top tax Lawyer Section -->
  <ion-list *ngIf="top_text?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Tax Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_text)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_text" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span class="locations">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}} {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top Criminal Lawyer Section -->
  <ion-list *ngIf="top_criminal?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Criminal Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_criminal)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_criminal" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span class="locations">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}} {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top Business/Corporate Lawyer Section -->
  <ion-list *ngIf="top_cheque_bounce?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Business/Corporate Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_business_corporate)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_business_corporate" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span class="locations">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}} {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>



  <!-- Top Consumer Court Lawyer Section -->
  <ion-list *ngIf="top_consumer_court?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Consumer Court Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_consumer_court)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_consumer_court" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span class="locations">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}} {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top Divorce Lawyer Section -->
  <ion-list *ngIf="top_divorce?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Divorce Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_divorce)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_divorce" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top Civil Lawyer Section -->
  <ion-list *ngIf="top_civil?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Civil Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_civil)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_civil" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>



  <!-- Top Family Lawyer Section -->
  <ion-list *ngIf="top_family?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Family Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_family)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_family" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top  Motor Accident  Lawyer Section -->
  <ion-list *ngIf="top_motor_accident?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Motor Accident Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_motor_accident)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_motor_accident" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>


  <!-- Top Cheque Bounce Lawyer Section -->
  <ion-list *ngIf="top_cheque_bounce?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Top Cheque Bounce Lawyer</span>
      <ion-button size="small" fill="clear" shape="round" (click)="see_All(top_cheque_bounce)">See All</ion-button>
    </ion-row>
    <div class="menuList">
      <div class="lawyerCard" *ngFor="let lawyer of top_cheque_bounce" (click)="advocate_Profile(lawyer)">
        <div class="cardImg">
          <img [src]="lawyer.profilePath ? img_url + lawyer?.profilePath : '../../../assets/icon/profile.png'">
        </div>
        <div class="cardInfo">
          <span>{{ lawyer?.advocateName }}</span>
          <p>{{ lawyer?.advocateTypeName }}</p>
        </div>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span style="display: flex;">
            <ion-icon name="location" style="color: var(--color-primary);"></ion-icon>
            {{lawyer?.cityName}}
            {{lawyer?.stateName}}
          </span>
          <span style="display: flex;">
            {{lawyer.totalUserRating}} &nbsp;<ion-icon name="star" style="color: green;"></ion-icon> &nbsp; rating
          </span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Manage Case<br>{{ lawyer?.totalCase }}</span> |
          <span>Experience<br>{{ lawyer?.experiance }} yr.</span>
        </ion-row>
      </div>
    </div>
  </ion-list>

  <div class="chatBox" routerLink="/user/home/contact">
    <ion-icon name="chatbubble-ellipses"></ion-icon>
  </div>
</ion-content>