<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home/dashboard"></ion-icon> <span>Publication</span>
  </div>
</div>
<ion-content>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>

  <ion-row>
    <span>Add Publication</span>
    <ion-icon name="add-circle" (click)="AddPublication()"></ion-icon>
  </ion-row>

  <ion-list>
    <ion-card>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">Publication Title</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Journal</span>
        <span>Data Nhi Hai</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Date</span>
        <span>30/07/2024</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Document</span>
        <ion-icon name="document-attach"></ion-icon>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">Publication Title</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Journal</span>
        <span>Data Nhi Hai</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Date</span>
        <span>30/07/2024</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Document</span>
        <ion-icon name="document-attach"></ion-icon>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">Publication Title</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Journal</span>
        <span>Data Nhi Hai</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Date</span>
        <span>30/07/2024</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Document</span>
        <ion-icon name="document-attach"></ion-icon>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">Publication Title</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Journal</span>
        <span>Data Nhi Hai</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Date</span>
        <span>30/07/2024</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Document</span>
        <ion-icon name="document-attach"></ion-icon>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="highlight">Title</span>
        <span class="highlight">Publication Title</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Journal</span>
        <span>Data Nhi Hai</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Date</span>
        <span>30/07/2024</span>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span>Document</span>
        <ion-icon name="document-attach"></ion-icon>
      </ion-row>
    </ion-card>

  </ion-list>

</ion-content>



<!-- for add publication  -->
<ion-modal #modal>
  <ng-template>

    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="backButton()"></ion-icon> <span>Add Publication</span>
      </div>
    </div>
    <ion-content>
      <ion-list>
        <form [formGroup]="publication_form">
          <ion-input label="Title" formControlName="title" label-placement="floating" fill="outline"
            placeholder="Enter title">
          </ion-input>

          <ion-input label="Journal" formControlName="journal" label-placement="floating" fill="outline"
            placeholder="Enter journal">
          </ion-input>

          <ion-datetime formControlName="date" label="Date and Time" label-placement="floating" fill="outline"
            placeholder="Select Date and Time" presentation="date-time">
          </ion-datetime>


          <ion-input type="file" label="Document" label-placement="floating" fill="outline" formControlName="document"
            (change)="onDocument($event)" accept=".jpg,.png,.jpeg">
          </ion-input>


          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
          </ion-row>
        </form>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>