<!-- <div class="header">
  <div class="navbar">
    <span class="ion-margin-start">Chat</span>
    <ion-thumbnail (click)="vakilProfile()">
      <img src="../../../assets/Lawyers/lawyer_4.jfif">
    </ion-thumbnail>
  </div>
</div>
<ion-content>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>

  <ion-list lines="none">

    <div class="contactList" (click)="chatRoute()">
      <div class="userImg">
        <img src="../../../assets/Lawyers/lawyer_1.jpg  ">
      </div>
      <div class="userInfo">
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Julia</span>
          <span>02:00pm</span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Hello, Madam!</span>
          <ion-icon name="checkmark-done"></ion-icon>
        </ion-row>
      </div>
    </div>

    <div class="contactList" (click)="chatRoute()">
      <div class="userImg">
        <img src="../../../assets/Lawyers/lawyer_3.jfif">
      </div>
      <div class="userInfo">
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Aditya</span>
          <span>02:00pm</span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Hello, Sir!</span>
          <ion-icon name="checkmark-done"></ion-icon>
        </ion-row>
      </div>
    </div>
    
    <div class="contactList" (click)="chatRoute()">
      <div class="userImg">
        <img src="../../../assets/Lawyers/lawyer_4.jfif">
      </div>
      <div class="userInfo">
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Rohit</span>
          <span>02:45pm</span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>Hello, Sir!</span>
          <ion-icon name="checkmark-done"></ion-icon>
        </ion-row>
      </div>
    </div>


  </ion-list>

</ion-content> -->




<div class="header">
  <div class="navbar">
    <span class="ion-margin-start">Chat</span>
    <ion-thumbnail (click)="vakilProfile()">
      <img [src]="profile_data?.profilePath ? img_url+profile_data?.profilePath : '../../../assets/icon/profile.png'">
    </ion-thumbnail>
  </div>
</div>
<ion-content>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>

  <ion-list lines="none">

    <div class="contactList" *ngFor="let chat of chat_list" (click)="chatRoute()">
      <div class="userImg">
        <img [src]="chat?.profile ? img_url+chat?.profile : '../../../assets/icon/profile.png'">
      </div>
      <div class="userInfo">
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>{{chat?.name}}</span>
          <span>{{ chat?.MsgAt | date:'shortTime' }}</span>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <span>{{chat?.sendBy}}</span>
          <!-- <ion-icon name="checkmark-done"></ion-icon> -->
        </ion-row>
      </div>
    </div>

  </ion-list>

</ion-content>