<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home/dashboard"></ion-icon> <span>Video List</span>
  </div>
</div>
<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>
  <ion-row>
    <span>Add Video</span>
    <ion-icon name="add-circle" (click)="AddVideo()"></ion-icon>
  </ion-row>

  <ion-list style="margin: 0;" *ngIf="videoList?.length > 0">
    <h3 class="ion-padding">Legal Advice Videos</h3>
    <div class="videoList">
      <div class="video" *ngFor="let video of videoList">
        <span (click)="onVideo(video)">
          <img class="youtubelogo" src="https://www.iconpacks.net/icons/1/free-youtube-icon-141-thumb.png" alt=""
            style="width: 60px;">
          <img class="videoBanner"
            [src]="video?.bannerUrl ? img_url + video?.bannerUrl : '../../../assets/slider/slider_2.jpg'">
        </span>
        <p>{{video?.title}}</p>
        <div class="urlBox">
          <span>
            {{video?.videoUrl}}
            <ion-icon name="copy-outline" (click)="copyUrl(video?.videoUrl)"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </ion-list>
  <p class="NoRecord" *ngIf="videoList?.length === 0">No Record Found</p>

</ion-content>


<!-- for add publication  -->
<ion-modal #modal>
  <ng-template>

    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="backButton()"></ion-icon> <span>Add Video</span>
      </div>
    </div>
    <ion-content>
      <ion-list>

        <form [formGroup]="video_form">
          <ion-input label="Title" label-placement="floating" fill="outline" placeholder="Enter title"
            formControlName="title">
          </ion-input>

          <ion-input label="Banner" (change)="onBanner($event)" accept=".jpg,.png,.jpeg" label-placement="floating"
            type="file" fill="outline" formControlName="banner">
          </ion-input>

          <ion-input label="Link" label-placement="floating" fill="outline" placeholder="Enter Video Link"
            formControlName="url">
          </ion-input>

          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
          </ion-row>
        </form>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>