<div class="header">
    <div class="navbar">
        <ion-icon name="chevron-back" routerLink="/vakil/home"></ion-icon>
        <span>Client Reports</span>
    </div>
</div>

<div class="download">
    <button class="site-search" mat-button (click)="PdfDownload()">
        <img src="../../../assets/icon/pdf.png"> &nbsp; <span> Download PDF </span>
    </button>
    <button class="site-search" mat-button (click)="excel()">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Microsoft_Excel_2013-2019_logo.svg"> &nbsp; <span> Download Excel</span>
    </button>
</div>