<div class="header">
  <span>Total Client {{clients?.length || '0'}}</span>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"></ion-searchbar>

  <ion-row (click)="AddClientReg()">
    <span>New Registration </span>
    <ion-icon name="add-circle"></ion-icon>
  </ion-row>

  <ion-list id="client-list">
    <ion-card (click)="onClientDetails(client)" *ngFor="let client of clients">
      <div class="client-text">
        <ion-row>
          <span class="highlight">Name </span>
          <span class="highlight">{{client.clientName || 'N/A' | titlecase}}</span>
        </ion-row>
        <ion-row>
          <span>Contact </span>
          <span>{{client.contactNum || 'N/A'}} </span>
        </ion-row>
        <ion-row>
          <span>Case Title</span>
          <span>{{client.caseTitle || 'N/A' | titlecase}}</span>
        </ion-row>
        <ion-row>
          <span>Case No</span>
          <span>{{client.caseNo || 'N/A'}}</span>
        </ion-row>
      </div>

    </ion-card>
  </ion-list>
  <p class="NoRecord" *ngIf="clients?.length === 0">No Record Found</p>
</ion-content>


<!-- for add client registration  -->
<ion-modal #modal>
  <ng-template>
    <div class="header">
      <ion-icon name="chevron-back" (click)="backButton()" class="custom-back-icon"></ion-icon>
      <span class="header-title">New Registration</span>
    </div>

    <ion-content>
      <form [formGroup]="newRegistartion_form">
        <ion-list>

          <ion-input label="Name" label-placement="floating" fill="outline" placeholder="Enter name"
            formControlName="clientName">
          </ion-input>

          <ion-input label="Email" label-placement="floating" type="email" fill="outline" placeholder="Enter email"
            formControlName="email" helperText="Enter a valid email" errorText="Invalid email" ngModel email required>
          </ion-input>

          <ion-input type="tel" label="Mobile Number" label-placement="floating" fill="outline"
            helperText="Enter a valid mobile number" errorText="Invalid mobile number" required
            formControlName="contactNum" minlength="10" maxlength="10" pattern="\d{10}">
          </ion-input>

          <ion-select label="Gender" label-placement="floating" fill="outline" placeholder="Select Gender"
            formControlName="gender">
            <ion-select-option value="Male"> Male </ion-select-option>
            <ion-select-option value="Female"> Female </ion-select-option>
            <ion-select-option value="Other"> Other </ion-select-option>
          </ion-select>

          <ion-input label="Case No" label-placement="floating" type="number" fill="outline" placeholder="Enter case no"
            formControlName="caseNo"></ion-input>

          <ion-input label="Case Title " label-placement="floating" fill="outline" placeholder="Enter Case Title "
            formControlName="caseTitle"></ion-input>

          <ion-input label="Act" label-placement="floating" fill="outline" placeholder="Enter act"
            formControlName="act"></ion-input>

          <ion-select label="State" label-placement="floating" fill="outline" interface="action-sheet"
            placeholder="Select State" (ionChange)="onCityChange($event)" formControlName="state">
            <ion-select-option *ngFor="let state of states" [value]="state?.Id">
              {{ state?.name}}
            </ion-select-option>
          </ion-select><br>

          <ion-select label="City" label-placement="floating" fill="outline" interface="action-sheet"
            placeholder="Select City" formControlName="city">
            <ion-select-option *ngFor="let city of citys" [value]="city?.Id">
              {{city?.name}}
            </ion-select-option>
          </ion-select><br>

          <ion-select label="Court" label-placement="floating" fill="outline" interface="action-sheet"
            placeholder="Select Court" formControlName="court">
            <ion-select-option *ngFor="let court of court_list" [value]="court?.CourtId">
              {{court?.courtName}}
            </ion-select-option>
          </ion-select>

          <ion-input label="FIR Date" type="date" label-placement="floating" fill="outline" formControlName="firDate">
          </ion-input>

          <ion-input label-placement="floating" type="datetime-local" fill="outline" label="Hearing Date & Time"
            placeholder="Enter Hearing Date & Time" formControlName="HearingDate">
          </ion-input>

          <ion-input label="Advocate Fee" type="number" placeholder="Enter advocate Fee" label-placement="floating"
            fill="outline" formControlName="advocateFee"></ion-input>

          <ion-input label="Address " placeholder="Enter Address" label-placement="floating" fill="outline"
            formControlName="address">
          </ion-input>

          <ion-textarea label="Case Summary " placeholder="Enter Summary" label-placement="floating" fill="outline"
            formControlName="caseSummary">
          </ion-textarea>

          <ion-input label="Password " placeholder="Enter password" label-placement="floating" fill="outline"
            formControlName="password">
          </ion-input>

          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="onSubmit()" [disabled]="!newRegistartion_form.valid">Submit</ion-button>
          </ion-row>

        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>


<!-- for add client Details  -->
<ion-modal id="client-details" #details>
  <ng-template>

    <div class="header">
      <ion-icon name="chevron-back" (click)="backButton()"></ion-icon>
      <span>Client Details</span>
    </div>
    <ion-content>
      <ion-list>

        <ion-card>
          <div class="image-profile">
            <img [src]="detail?.profile ? img_url+detail.profile:  '../../../assets/icon/profile.png'" alt="">
          </div>
          <ion-row>
            <ion-icon name="person"></ion-icon>
            <p>
              <span class="highlight">Name </span>
              <span class="highlight">{{detail?.clientName || 'N/A' | titlecase}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="call"></ion-icon>
            <p>
              <span>Contact </span>
              <span>{{detail?.contactNum || 'N/A'}} </span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="mail"></ion-icon>
            <p>
              <span>Email Id </span>
              <span>{{detail?.email || 'N/A'}} </span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="code"></ion-icon>
            <p>
              <span>Case No</span>
              <span>{{detail?.caseNo || 'N/A'}}</span>
            </p>
          </ion-row>

          <ion-row>
            <ion-icon name="newspaper"></ion-icon>
            <p>
              <span>Case Title</span>
              <span>{{detail?.caseTitle || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="business"></ion-icon>
            <p>
              <span>Court</span>
              <span>{{detail?.courtName || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="crop"></ion-icon>
            <p>
              <span>Act</span>
              <span>{{detail?.act || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="calendar"></ion-icon>
            <p>
              <span>Fir Date</span>
              <span>{{detail?.firdate || 'N/A'}}</span>
            </p>
          </ion-row>

          <ion-row>
            <ion-icon name="calendar-number"></ion-icon>
            <p>
              <span> Hearing Date</span>
              <span>{{detail?.hearingDate || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="card"></ion-icon>
            <p>
              <span>Advocate Fee</span>
              <span>{{detail?.advocateFee || 'N/A'}}</span>
            </p>
          </ion-row>

          <ion-row>
            <ion-icon name="location"></ion-icon>
            <p>
              <span>Address</span>
              <span>{{detail?.address || 'N/A'}}</span>
            </p>
          </ion-row>
        </ion-card>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>