<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home"></ion-icon>
    <span>Clients</span>
  </div>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"></ion-searchbar>

  <ion-row (click)="AddClientReg()">
    <span>New Registration </span>
    <ion-icon name="add-circle"></ion-icon>
  </ion-row>

  <h6 style="margin: 5px 10px;">Total : {{clients?.length || '0'}}</h6>

  <ion-list id="client-list">
    <ion-card (click)="onClientDetails(client)" *ngFor="let client of clients" [button]="true">
      <div class="client-text">
        <ion-row>
          <span class="highlight">Name </span>
          <span class="highlight">{{client.clientName || 'N/A' | titlecase}}</span>
        </ion-row>
        <ion-row>
          <span>Contact No</span>
          <span>{{client.contactNum || 'N/A'}} </span>
        </ion-row>
        <ion-row>
          <span>Email Id </span>
          <span>{{client.email || 'N/A'}} </span>
        </ion-row>
        <ion-row>
          <span>Case Title</span>
          <span>{{client.caseTitle || 'N/A' | titlecase}}</span>
        </ion-row>
        <ion-row>
          <span>Case No</span>
          <span>{{client.caseNo || 'N/A'}}</span>
        </ion-row>
      </div>

    </ion-card>
  </ion-list>
  <p class="NoRecord" *ngIf="clients?.length === 0">No Record Found</p>
</ion-content>


<!-- for add client registration  -->
<ion-modal #modal>
  <ng-template>
    <div class="header">
      <ion-icon name="chevron-back" (click)="backButton()" class="custom-back-icon"></ion-icon>
      <span class="header-title">New Registration</span>
    </div>

    <ion-content>
      <form [formGroup]="newRegistartion_form">
        <ion-list>

          <ion-input fill="outline" placeholder="Enter name" formControlName="clientName">
          </ion-input>

          <ion-input type="email" fill="outline" placeholder="Enter email" formControlName="email"
            helperText="Enter a valid email" errorText="Invalid email" ngModel email required>
          </ion-input>

          <ion-input type="tel" fill="outline" placeholder="Enter mobile number"
            helperText="Enter a valid mobile number" errorText="Invalid mobile number" required
            formControlName="contactNum" minlength="10" maxlength="10" pattern="\d{10}">
          </ion-input>

          <ion-select fill="outline" placeholder="Select Gender" formControlName="gender" interface="action-sheet">
            <ion-select-option value="Male"> Male </ion-select-option>
            <ion-select-option value="Female"> Female </ion-select-option>
            <ion-select-option value="Other"> Other </ion-select-option>
          </ion-select>

          <ion-input type="text" fill="outline" placeholder="Enter case no" formControlName="caseNo">
          </ion-input>

          <ion-input fill="outline" placeholder="Enter Case Title " formControlName="caseTitle">
          </ion-input>

          <ion-input fill="outline" placeholder="Enter act" formControlName="act"></ion-input>

          <ion-select fill="outline" interface="action-sheet" placeholder="Select State"
            (ionChange)="onCityChange($event)" formControlName="state">
            <ion-select-option *ngFor="let state of states" [value]="state?.Id">
              {{ state?.name}}
            </ion-select-option>
          </ion-select><br>

          <ion-select fill="outline" interface="action-sheet" placeholder="Select City" formControlName="city">
            <ion-select-option *ngFor="let city of citys" [value]="city?.Id">
              {{city?.name}}
            </ion-select-option>
          </ion-select><br>

          <ion-select fill="outline" interface="action-sheet" placeholder="Select Court" formControlName="court">
            <ion-select-option *ngFor="let court of court_list" [value]="court?.CourtId">
              {{court?.courtName}}
            </ion-select-option>
          </ion-select>

          <ion-text>FIR Date</ion-text>
          <ion-input type="datetime-local" fill="outline" formControlName="firDate">
          </ion-input>

          <ion-text>Hearing Date & Time</ion-text>
          <ion-input type="datetime-local" fill="outline" formControlName="HearingDate">
          </ion-input>

          <ion-input type="number" placeholder="Enter advocate Fee" fill="outline"
            formControlName="advocateFee"></ion-input>

          <ion-input placeholder="Enter Address" fill="outline" formControlName="address">
          </ion-input>

          <ion-textarea placeholder="Enter Summary" fill="outline" formControlName="caseSummary">
          </ion-textarea>

          <ion-input placeholder="Enter password" fill="outline" formControlName="password">
          </ion-input>

          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="onSubmit()" [disabled]="!newRegistartion_form.valid">Submit</ion-button>
          </ion-row>

        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>


<!-- for add client Details  -->
<ion-modal id="client-details" #details>
  <ng-template>

    <div class="header">
      <ion-icon name="chevron-back" (click)="backButton()"></ion-icon>
      <span>Client Profile</span>
    </div>
    <ion-content>
      <ion-list>

        <ion-card>
          <div class="image-profile">
            <img [src]="detail?.profile ? img_url+detail.profile:  '../../../assets/icon/profile.png'" alt="">
          </div>
          <ion-row>
            <ion-icon name="person"></ion-icon>
            <p>
              <span class="highlight">Name </span>
              <span class="highlight">{{detail?.clientName || 'N/A' | titlecase}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="call"></ion-icon>
            <p>
              <span>Contact </span>
              <span>{{detail?.contactNum || 'N/A'}} </span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="mail"></ion-icon>
            <p>
              <span>Email Id </span>
              <span>{{detail?.email || 'N/A'}} </span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="code"></ion-icon>
            <p>
              <span>Case No</span>
              <span>{{detail?.caseNo || 'N/A'}}</span>
            </p>
          </ion-row>

          <ion-row>
            <ion-icon name="newspaper"></ion-icon>
            <p>
              <span>Case Title</span>
              <span>{{detail?.caseTitle || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="business"></ion-icon>
            <p>
              <span>Court</span>
              <span>{{detail?.courtName || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="crop"></ion-icon>
            <p>
              <span>Act</span>
              <span>{{detail?.act || 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="calendar"></ion-icon>
            <p>
              <span>Fir Date</span>
              <span>{{detail?.firdate ? (detail?.firdate | date: 'dd MMM yyyy, h:mm a') : 'N/A'}}</span>
            </p>
          </ion-row>

          <ion-row>
            <ion-icon name="calendar-number"></ion-icon>
            <p>
              <span> Hearing Date</span>
              <span>{{detail?.hearingDate ? (detail?.hearingDate | date: 'dd MMM yyyy, h:mm a') : 'N/A'}}</span>
            </p>
          </ion-row>
          <ion-row>
            <ion-icon name="card"></ion-icon>
            <p>
              <span>Advocate Fee</span>
              <span>{{detail?.advocateFee || 'N/A'}}</span>
            </p>
          </ion-row>

          <ion-row>
            <ion-icon name="location"></ion-icon>
            <p>
              <span>Address</span>
              <span>{{detail?.address || 'N/A'}}</span>
            </p>
          </ion-row>
        </ion-card>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>