<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="onBack()"></ion-icon>
    <span>Enquiry</span>
  </div>
</div>

<!-- client-enquiry.component.html -->
<ion-content>
  <form [formGroup]="enquiryForm" (ngSubmit)="submitForm()">
    <ion-input formControlName="name" placeholder="Enter name" fill="outline">
    </ion-input>

    <ion-input formControlName="contact" type="number" placeholder="Enter contact number" fill="outline">
    </ion-input>

    <ion-input formControlName="email" type="Enter email" placeholder="Email" fill="outline">
    </ion-input>

    <ion-select fill="outline" interface="action-sheet" placeholder="Select City" formControlName="city">
      <ion-select-option *ngFor="let city of city_list" [value]="city?.Id">
        {{city?.name}}
      </ion-select-option>
    </ion-select>

    <ion-row>
      <ion-button expand="block" type="submit" [disabled]="enquiryForm.invalid">
        Submit
      </ion-button>
    </ion-row>

  </form>
</ion-content>