.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }

        span {
            font-size: 16px;
            margin: 0 auto;
        }
    }
}


ion-content {

    .border {
        padding: 0px 0px 7px;
        border-bottom: 1px dotted var(--color-primary);
    }

    h4 {
        font-size: 15px;
    }

    .caseInfo {
        padding: 10px;
        font-size: 12px;
    }

    .caseList {
        padding: 10px;
        margin: 0 0 20px;
        font-size: 12px;

        ion-list {
            padding: 7px;
            margin-bottom: 10px;
            background-color: var(--color-light);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);


            ion-row {
                display: flex;
                gap: 10px;
                align-items: center;
                margin: 6px 0;
                justify-content: space-between;
                text-transform: capitalize;

                span {
                    ion-icon {
                        padding: 0 10px;
                        color: #3c595d;
                        width: 25px;
                        border: 2px solid #3c595d;
                        height: 25px;
                        border-radius: 50px;
                        cursor: pointer;
                    }
                }
            }


            ion-item-group {
                ion-item-divider {
                    padding: 0;
                }
            }
        }
    }
}