<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/dashboard"></ion-icon> <span>Ask A Free Legal Question</span>
  </div>
</div>
<ion-content class="ion-padding">
  <ion-list>
    <form [formGroup]="ask_free_question_form">
      <ion-select fill="outline" interface="action-sheet" placeholder="Select area of law" formControlName="LawType">
        <ion-select-option *ngFor="let type of advocated_type" [value]="type?.Id">
          {{type?.name}}
        </ion-select-option>
      </ion-select>

      <ion-input [(ngModel)]="cityName" placeholder="Search City" type="text" fill="outline" (keyup)="onSearch($event)"
        formControlName="city">
      </ion-input>

      <ion-list *ngIf="city_list.length > 0">
        <ion-item *ngFor="let city of city_list" (click)="cityPlace(city)">
          {{city?.name}}
        </ion-item>
      </ion-list>

      <ion-input fill="outline" placeholder="Write your subject" formControlName="subject">
      </ion-input>

      <ion-textarea id="custom-input" fill="outline" placeholder="Write your question" [counter]="true" maxlength="500"
        [counterFormatter]="customCounterFormatter" formControlName="Question">
      </ion-textarea>

      <h3>Your Contact Details</h3>

      <ion-input fill="outline" placeholder="Enter your name" formControlName="cn_name"></ion-input>

      <ion-input type="tel" placeholder="Enter mobile number" fill="outline" helperText="Enter a valid mobile number"
        errorText="Invalid mobile number" required formControlName="cn_phone" minlength="10" maxlength="10"
        pattern="\d{10}">
      </ion-input>

      <ion-input type="email" fill="outline" helperText="Enter a valid email" placeholder="Enter your email"
        errorText="Invalid email" ngModel email formControlName="cn_email"></ion-input>

      <ion-checkbox labelPlacement="end" [(ngModel)]="isChecked" formControlName="IsInterested"><span
          style="text-wrap: wrap;">I am interested in
          talking to a lawyer for my legal issue</span>
      </ion-checkbox>

      <ion-button [disabled]="!isChecked || !ask_free_question_form.valid" (click)="onSubmit()">Submit</ion-button>
    </form>
  </ion-list>

</ion-content>