<div class="header">
  <ion-buttons shape="round" routerLink="/home/vakilprofile">
    <ng-container *ngIf="profile_data?.profilePath; else iconTemplate">
      <img [src]="img_url + profile_data?.profilePath" alt="Profile Image"
        style="width: 40px; height: 40px; border: 1px solid white; border-radius: 50px;">
    </ng-container>
    <ng-template #iconTemplate>
      <ion-icon name="person-circle" style="font-size: 40px; color: white;"></ion-icon>
    </ng-template>
  </ion-buttons>
</div>


<ion-content>

  <ion-list>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Dashboard</span>
    </ion-row>
    <div class="menubar bounceInUp animated">

      <div class="menuBox" routerLink="/home/vakiltotalcase">
        <div class="menuIcon">
          <img src="../../../assets/menuIcon/ipc.png">
          <span>{{dashboard?.totalCase || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Total Case</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/totalclientlist">
        <div class="menuIcon">
          <img src="../../../assets/icon/client.png">
          <span>{{dashboard?.totalClient || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Total Client</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/todayhearing">
        <div class="menuIcon">
          <img src="../../../assets/icon/clender.png">
          <span>{{dashboard?.totalTodayCaseHearing || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Today Hearing</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/casedocuments">
        <div class="menuIcon">
          <img src="../../../assets/menuIcon/documents.png">
          <span>{{dashboard?.totalDocument || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Case Documents</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/clientpaymentlist">
        <div class="menuIcon">
          <img src="../../../assets/menuIcon/billing.png">
          <span>{{dashboard?.totalPayment || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Payments</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/reporttotalclient">
        <div class="menuIcon">
          <img src="../../../assets/menuIcon/report.png">
          <span>{{dashboard?.totalClient || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Reports</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/enquiry">
        <div class="menuIcon">
          <img src="../../../assets/menuIcon/enquiry.png">
          <span>0</span>
        </div>
        <div class="menuInfo">
          <span>Enquiry</span>
        </div>
      </div>

      <div class="menuBox" routerLink="/home/vakilreview">
        <div class="menuIcon">
          <img src="../../../assets/menuIcon/review.png">
          <span>{{dashboard?.totalUserRating || '0'}}</span>
        </div>
        <div class="menuInfo">
          <span>Review</span>
        </div>
      </div>

    </div>
  </ion-list>



  <!-- upcoming court case  -->
  <ion-list *ngIf="upcoming_court?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Upcoming Court Date</span>
      <ion-button size="small" fill="clear" shape="round" routerLink="/home/upcomingcourtlist">See All</ion-button>
    </ion-row>
    <div class="contentList">
      <ion-item lines="full" *ngFor="let data of upcoming_court" (click)="onUpcoming(data)">
        <ion-label>
          <h3>Name:- {{data?.clientName || 'N/A' | titlecase}}</h3>
          <p>Title:- {{data?.caseTitle}}</p>
          <p>Case No:- {{data?.caseNo}}</p>
          <span>Next Date:- {{data?.hearingDate | date:'dd MMM yyyy, h:m a'}}</span>
        </ion-label>
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <!-- recent client case  -->
  <ion-list *ngIf="recent_client?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Recent Client</span>
      <ion-button size="small" fill="clear" shape="round" routerLink="/home/recentclient">See All</ion-button>
    </ion-row>
    <ion-item lines="full" *ngFor="let data of recent_client">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" [src]="data?.profile ? img_url+data?.profile :'../../../assets/icon/profile.png'" />
      </ion-avatar>
      <div class="recentClient">
        <ion-label>{{data?.clientName | titlecase}}</ion-label>
        <ion-label class="CaseNo">{{data?.caseNo}}</ion-label>
      </div>
    </ion-item>

  </ion-list>

  <!-- for features of memebership user  -->
  <ion-list *ngIf="memberships?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Features</span>
    </ion-row>
    <div class="menubar">
      <div *ngFor="let member of memberships">
        <div class="featuremenu" (click)="handleClick(member)">
          <ion-icon *ngIf="member?.servicePath === '/vakil/AddPublication'" name="book"></ion-icon>
          <ion-icon *ngIf="member?.servicePath === '/vakil/AddImageBanner'" name="image"></ion-icon>
          <ion-icon *ngIf="member?.servicePath === '/vakil/AddVideo'" name="videocam"></ion-icon>
          <ion-icon *ngIf="member?.servicePath === '/vakil/NewClientRegstration'" name="person-add"></ion-icon>
          <ion-icon *ngIf="member?.servicePath === '/vakil/vakilRewards'" name="trophy"></ion-icon>
          <ion-icon *ngIf="member?.servicePath === '/vakil/Achievement'" name="ribbon"></ion-icon>
          <ion-icon
            *ngIf="!['/vakil/AddPublication', '/vakil/AddImageBanner', '/vakil/AddVideo', '/vakil/NewClientRegstration', '/vakil/vakilRewards', '/vakil/Achievement'].includes(member?.servicePath)"
            name="help-circle"></ion-icon>
          <span>{{member?.serviceName || 'N/A'}}</span>
        </div>
      </div>
    </div>
  </ion-list>

  <!-- complete case deatils  -->
  <ion-list *ngIf="complete_case?.length > 0">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <span class="ion-margin-start">Complete Court Case</span>
      <ion-button size="small" fill="clear" shape="round" routerLink="/home/vakiltotalcompletecase">See All</ion-button>
    </ion-row>
    <div class="contentList">
      <ion-item lines="full" *ngFor="let data of complete_case">
        <ion-label>
          <h3>Name:- {{data?.clientName || 'N/A' | titlecase}}</h3>
          <p>Title:- {{data?.caseTitle}}</p>
          <p>Case No:- {{data?.caseNo}}</p>
          <span style="color: green;">Last Hearing :- {{ data?.hearingDate ? (data.hearingDate | date: 'dd MMM yyyy, h:mm a') : 'N/A' }}</span>
        </ion-label>
        <!-- <ion-icon name="chevron-forward"></ion-icon> -->
      </ion-item>
    </div>
  </ion-list>


  <!-- daily visitors data  -->
  <!-- <ion-list>
    <div>
      <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
    </div>
  </ion-list> -->

  <div class="chatBox" routerLink="/vakil/home/contact">
    <ion-icon name="chatbubble-ellipses"></ion-icon>
  </div>

</ion-content>