.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        ion-icon {
            font-size: 24px;
        }

        span {
            font-size: 16px;
        }

        ion-button {
            --background: var(--color-primary);
            --box-shadow: none;
        }
    }
}

ion-content {
    ion-list {
        width: 100%;
        display: grid;
        padding: 10px 10px 0px;
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));

        ion-card {
            margin: 0px 5px 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .profile-card {
            display: flex;
            align-items: center;
        }

        .profile-image {
            margin-right: 16px;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #ccc;
            }
        }

        .profile-details {
            flex: 1;

            ion-card-title {
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
            }

            ion-card-subtitle {
                margin: 0;
                margin-bottom: 8px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
            }

            .experience {
                font-size: 12px;
                margin: 4px 0;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
            }

            .ratings {
                display: flex;
                align-items: center;
                font-size: 12px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;

                ion-row {
                    .orange-star {
                        color: gold;
                    }

                    .black-star {
                        color: black;
                    }
                }
            }

            .practice-area {
                // font-size: 12px;
                // margin: 4px 0;
                // display: -webkit-box;
                // -webkit-line-clamp: 1;
                // -webkit-box-orient: vertical;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // padding-right: 10px;

                font-size: 12px;
                margin: 4px 0;
                overflow: auto;
                max-height: 37px;
                padding: 0px;
            }
        }
    }
}


ion-modal {
    .header {
        width: 100%;
        height: 70px;
        background: var(--color-primary);
        color: var(--color-light);
        padding: 10px;
        display: flex;
        align-items: center;

        .navbar {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;

            ion-icon {
                position: absolute;
                font-size: 24px;
                left: 10px;
            }

            span {
                font-size: 16px;
                margin: 0 auto;
            }
        }
    }

    ion-content {
        ion-label {
            font-size: 13px;
        }

        .sidebar {
            width: 35vw;
            height: 100%;
            float: left;
            border-right: 2px solid var(--color-primary);
            border-bottom: 2px solid var(--color-primary);

            ion-list {
                padding: 0;
                gap: 0;
                display: block;

                .selected {
                    font-weight: 600;
                    color: var(--color-primary);
                    --background: var(--color-secondary);
                }
            }
        }

        .main {
            width: calc(100% - 35vw);
            height: 100%;
            float: right;
            overflow: auto;
            border-bottom: 2px solid var(--color-primary);


            ion-list {
                padding: 0;
                gap: 0;
                display: block;
            }
        }
    }

    .applyBtn {
        --background: var(--color-primary);
        margin: 10px auto 20px;
        width: calc(100% - 40px);
    }
}

.NoRecord {
    padding: 0 20px;
    margin: 0px;
}