<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/dashboard"></ion-icon>
    <span>Advocates</span>
    <span></span>
  </div>
</div>

<ion-content>
  <div class="ionBox">
    <form class="filters-container" [formGroup]="filter_form">
      <button class="filter-icon-button" type="button" (click)="filterAdvocate()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </button>

      <!-- <ion-select interface="action-sheet" placeholder="City" formControlName="city" (ionChange)="onFilter()">
      <ion-select-option *ngFor="let city of city_list" [value]="city.Id">
        {{ city.name }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" placeholder="Advocate Type" formControlName="advType" (ionChange)="onFilter()">
      <ion-select-option *ngFor="let typ of adv_list" [value]="typ.Id">
        {{ typ.name }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" placeholder="Court" formControlName="court" (ionChange)="onFilter()">
      <ion-select-option *ngFor="let court of court_list" [value]="court.CourtId">
        {{ court.courtName }}
      </ion-select-option>
    </ion-select> -->

      <ion-select interface="action-sheet" placeholder="Experience" formControlName="experience"
        (ionChange)="onFilter()">
        <ion-select-option *ngFor="let exp of experience_list" [value]="exp.id">
          {{ exp.experience }}
        </ion-select-option>
      </ion-select>

      <ion-select interface="action-sheet" placeholder="Gender" formControlName="gender" (ionChange)="onFilter()">
        <ion-select-option *ngFor="let gender of gender_list" [value]="gender.gender">
          {{ gender.gender }}
        </ion-select-option>
      </ion-select>

      <ion-select interface="action-sheet" placeholder="Rating" formControlName="rating" (ionChange)="onFilter()">
        <ion-select-option *ngFor="let rating of rating_list" [value]="rating?.id">
          {{ rating.rating }}
        </ion-select-option>
      </ion-select>

      <ion-select interface="action-sheet" placeholder="Activity" formControlName="activity" (ionChange)="onFilter()">
        <ion-select-option *ngFor="let act of activity_list" [value]="act?.id">
          {{ act?.name }}
        </ion-select-option>
      </ion-select>

    </form>

    <ion-list>
      <ion-card *ngFor="let lawyer of finalDataList" (click)="advocate_Profile(lawyer)">
        <ion-card-content class="profile-card" *ngIf="lawyer.advocateName">
          <div class="profile-image">
            <img [src]="lawyer.profilePath ? img_url + lawyer.profilePath : '../../../assets/icon/profile.png'"
              alt="Profile Picture" />
          </div>
          <div class="profile-details">
            <ion-card-title>{{lawyer?.advocateName | titlecase}}</ion-card-title>
            <ion-card-subtitle>{{lawyer?.cityName}}, {{lawyer?.stateName}}</ion-card-subtitle>
            <div class="experience">
              <strong>Experience:</strong> {{lawyer?.experiance}} years
            </div>
            <div class="practice-area">
              <strong>Practice areas:</strong> {{lawyer?.advocateTypeName}}
            </div>

            <div class="ratings">
              <ion-row>
                <ion-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" name="star"
                  [ngClass]="{'orange-star': i < lawyer.avgUserRating, 'black-star': i >= lawyer.avgUserRating}">
                </ion-icon> &nbsp;
                <span style="color: green;">{{lawyer?.avgUserRating}} | {{lawyer?.totalUserRating}}+ user
                  ratings</span>
              </ion-row>
            </div>
          </div>
        </ion-card-content>

        <ion-card-content *ngIf="!lawyer.advocateName">
          <ion-text>Ad</ion-text>
          <img [src]="img_url+lawyer.imageUrl" alt="">
        </ion-card-content>
      </ion-card>
    </ion-list>
    <!-- <div class="NoRecord">{{errorMes}}</div> -->
  </div>
</ion-content>

<!-- Filter Advocate Modal -->
<ion-modal #advocateFilter>

  <ng-template>
    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="advocateFilter.dismiss()"></ion-icon>
        <span>Filter Advocate</span>
      </div>
    </div>

    <ion-content>

      <div class="sidebar">
        <ion-list lines="full">
          <ion-item (click)="selectList('city')" [class.selected]="selectedList === 'city'">
            <ion-label>City</ion-label>
          </ion-item>
          <ion-item (click)="selectList('advocate')" [class.selected]="selectedList === 'advocate'">
            <ion-label>Advocate Type</ion-label>
          </ion-item>
          <ion-item (click)="selectList('courts')" [class.selected]="selectedList === 'courts'">
            <ion-label>Courts</ion-label>
          </ion-item>
          <ion-item (click)="selectList('experience')" [class.selected]="selectedList === 'experience'">
            <ion-label>Experience</ion-label>
          </ion-item>
          <ion-item (click)="selectList('gender')" [class.selected]="selectedList === 'gender'">
            <ion-label>Gender</ion-label>
          </ion-item>
          <ion-item (click)="selectList('rating')" [class.selected]="selectedList === 'rating'">
            <ion-label>Rating</ion-label>
          </ion-item>
          <ion-item (click)="selectList('activity')" [class.selected]="selectedList === 'activity'">
            <ion-label>Activity</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div class="main">
        <form [formGroup]="filter_form">

          <ion-list lines="full" *ngIf="selectedList === 'city'">
            <ion-searchbar color="light" placeholder="Search" (ionInput)="citySearch($event)"> </ion-searchbar>
            <ion-radio-group formControlName="city">
              <ion-item *ngFor="let city of city_list">
                <ion-label>{{ city?.name }}</ion-label>
                <ion-radio slot="start" [value]="city?.Id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list lines="full" *ngIf="selectedList === 'advocate'">
            <ion-searchbar color="light" placeholder="Search" (ionInput)="advtypSearch($event)"> </ion-searchbar>
            <ion-radio-group formControlName="advType">
              <ion-item *ngFor="let advocate of adv_list">
                <ion-label>{{ advocate?.name }}</ion-label>
                <ion-radio slot="start" [value]="advocate?.Id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list lines="full" *ngIf="selectedList === 'courts'">
            <ion-searchbar color="light" placeholder="Search" (ionInput)="coutSearch($event)"> </ion-searchbar>
            <ion-radio-group formControlName="court">
              <ion-item *ngFor="let court of court_list">
                <ion-label>{{ court?.courtName }}</ion-label>
                <ion-radio slot="start" [value]="court?.CourtId"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list lines="full" *ngIf="selectedList === 'experience'">
            <ion-radio-group formControlName="experience">
              <ion-item *ngFor="let exp of experience_list">
                <ion-label>{{ exp?.experience }}</ion-label>
                <ion-radio slot="start" [value]="exp?.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list lines="full" *ngIf="selectedList === 'gender'">
            <ion-radio-group formControlName="gender">
              <ion-item *ngFor="let gen of gender_list">
                <ion-label>{{ gen?.gender }}</ion-label>
                <ion-radio slot="start" [value]="gen?.gender"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list lines="full" *ngIf="selectedList === 'rating'">
            <ion-radio-group formControlName="rating">
              <ion-item *ngFor="let rating of rating_list">
                <ion-label>{{ rating?.rating }}</ion-label>
                <ion-radio slot="start" [value]="rating?.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list lines="full" *ngIf="selectedList === 'activity'">
            <ion-radio-group formControlName="activity">
              <ion-item *ngFor="let act of activity_list">
                <ion-label>{{ act?.name }}</ion-label>
                <ion-radio slot="start" [value]="act?.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </form>
      </div>
    </ion-content>

    <ion-button class="applyBtn" shape="round" (click)="onFilter()">Apply</ion-button>
  </ng-template>
</ion-modal>