.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }

        span {
            font-size: 16px;
            margin: 0 auto;
        }
    }
}

.contentList {
    width: 100%;

    ion-item {
        margin: 5px 0;
        font-size: 12px;

        ion-label {
            h3 {
                font-weight: 600;
                color: var(--color-primary);
            }
            p{
                font-size: 12px;
                margin: 0px;
            }
            span {
                color: #27AE60;
                font-size: 11px;
            }
        }
    }

    // for case info 
    .caseCard {
        width: calc(100% - 20px);
        margin: 10px auto;
        border-radius: 7px;
        padding: 10px;
        background-color: var(--color-light);
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        span {
            font-size: 12px;
            font-weight: normal;
            color: var(--color-dark);
        }
    }
}

ion-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 5px 10px 0px;
}

ion-searchbar {
    --border-radius: 50px !important;
    --ion-color-base: var(--color-light) !important;
}