// header scss code start here 
ion-header {
    box-shadow: none;

    .background-color {
        --background: var(--color-light);
        --color: var(--color-dark);
    }

    .topNav {
        // min-height: 50px;
        height: 6vh;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background: none;
        color: var(--color-dark);
        box-shadow: none;

        ion-icon {
            font-size: 25px;
        }
    }
}

// top image scss code start here 
.imgBox {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    text-align: center;


    img {
        object-fit: cover;
        height: 30vh;
        width: 30vh;
        border-radius: 50%;
    }
}

// text after image scss code start here 
.infoBox {
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 10px;

    p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
}

// input fileds and buttons design code here of forgot/otp pages
.actionBox {
    width: 100%;
    padding: 20px;
    overflow: auto;

    ion-input {
        margin: 20px 0;
    }

    // for ion-modal css 
    .otpBox {
        width: 100%;
        height: 60px;
        margin: 0 0 20px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);

        input {
            width: 100%;
            height: 100%;
            outline: none;
            background-color: var(--color-light);
            border: none;
            border-bottom: 2px solid var(--color-primary);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
        }
    }


    .Btn {
        width: 100%;
        height: 50px;
        color: white;
        font-size: 20px;
        --background: var(--color-primary);
        margin: 10px 0;
        text-transform: none;
    }
}