<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home"></ion-icon>
    <span>Recent Client</span>
  </div>
</div>

<ion-content>


  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>
  <ion-row>
    <h6 style="margin: 5px 10px;">Total : {{recent_client?.length || '0'}}</h6>
  </ion-row>
  <ion-item lines="full" *ngFor="let data of recent_client">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" [src]="data?.profile ? img_url+data?.profile :'../../../assets/icon/profile.png'" />
    </ion-avatar>
    <div class="recentClient">
      <ion-label>{{data?.clientName | titlecase}}</ion-label>
      <ion-label class="CaseNo">{{data?.caseNo}}</ion-label>
    </div>
  </ion-item>
</ion-content>