<div class="header">
  <div class="navbar">
    <ion-icon slot="start" name="chevron-back"></ion-icon>
    <span>Terms and Conditions</span>
  </div>
</div>

<ion-content>
  <div>
    <p>
      Welcome to Vakil Uncle App. We kindly request you to carefully review our Terms & Conditions to prevent any
      potential
      conflicts in the future. To maintain the trust of our clients, we prioritize transparency by sharing all relevant
      terms and conditions in the following sections.
    </p>

    <p>
      <b>1. Web Hosting Agreement and Terms of Service :- </b>
      These terms govern your use of the Macreel Infosoft Pvt. Ltd. website (https://macreel.co.in/) and any products or
      services you purchase from us. Please ensure that you read and agree to all terms before signing up. If you have
      any
      questions regarding our services, pricing, or policies, feel free to contact us. Macreel Infosoft Pvt. Ltd.
      reserves
      the right to modify its policies and terms at any time. We serve a diverse clientele, and we prioritize their
      security.
    </p>

    <p>
      <b>2. Changes to Packages and Pricing :- </b>
      Macreel Infosoft Pvt. Ltd. reserves the right to modify the prices, services, and packages we offer at any time.
      The
      packages, prices, and services listed on our website are subject to change without prior notice. We may increase
      service prices at our discretion, and new prices will apply to new deals. However, orders placed before any price
      changes will be honored at the previous rates.
    </p>

    <p>
      Work will commence only after we have received payment in our account. It is your responsibility to provide all
      necessary information to verify the payment. If we do not hear from you for more than 30 days, the project will be
      placed on hold. If there is no communication for over 180 days, the project will be considered closed.
    </p>
    <p>
      <b>
        Late/Non-Payment:
      </b>

      <li>To restart a project previously stopped due to late or non-payment, a fee of ₹5000 will be charged.</li>
      <li>If payment for renewal is delayed or missed, all technical support will be suspended 7 days after the due
        date.</li>
      <li>After 14 days of non-payment, your website and related services will be suspended.</li>
      <li> After 30 days of non-payment, your website and data will be deleted from our systems.</li>
      <li> In the event of a credit card chargeback or transaction reversal, all your data, including your website and
        emails, will be immediately deleted.
      </li>
      <li>
        We value our customers and will make every effort to contact you before terminating your services. However, it
        is your responsibility to ensure that your contact and billing information is accurate.
      </li>
    </p>
    <p><b>Regular Updates of Details:</b>
      We rely on the contact information you provide to reach you. If you do not receive
      our communications due to outdated contact details, we cannot be held responsible. It is the client’s duty to keep
      their information up to date, and we will not be liable for any actions taken due to a failure to receive or
      respond to notices.
    </p>

    <p>
      <b>Spam Policy:</b>
      We enforce a zero-tolerance policy against Unsolicited Commercial Email (UCE) or SPAM on our network. None of our
      clients may use our network to manage or distribute UCE or SPAM. Resellers of Macreel Infosoft Pvt. Ltd. are also
      prohibited from hosting or facilitating UCE from other networks. Violations of this policy may result in severe
      penalties, including immediate termination of services. We will investigate any reported violations and may
      restrict access to our network during the investigation. If a violation is confirmed, we reserve the right to
      cancel the account without notice and pursue civil action to cover investigation costs. If the violation is
      criminal, we may notify law enforcement. First-time violations will incur a ₹5000 administrative fee, with account
      termination. Repeat violations will incur a ₹7500 fee and immediate account termination. We strongly advise our
      resellers to implement similar policies for their clients. We do not allow mass mailing from our servers and
      recommend using third-party services or a dedicated server for such activities.
    </p>

    <p>
      <b>Prohibited Use of Services and Products:</b> The use of our services is governed by company policies, which all
      clients must follow. Clients may only use our services and products in ways consistent with their intended
      purpose, as determined by the company. If you are unsure whether an intended use is permitted, please contact us
      for clarification.
    </p>
  </div>
</ion-content>