<div class="header">
  <div class="navbar">
    <ion-icon slot="start" name="chevron-back" routerLink="/vakil/home/account"></ion-icon>
    <span>Terms and Conditions</span>
  </div>
</div>

<ion-content class="ion-padding">
  <p>
    Welcome to Vakil Uncle App. We kindly request you to carefully review our Terms & Conditions to prevent any
    potential
    conflicts in the future. To maintain the trust of our clients, we prioritize transparency by sharing all relevant
    terms and conditions in the following sections.
  </p>

  <p>
    <b>1. Web Hosting Agreement and Terms of Service :- </b>
    These terms govern your use of the Macreel Infosoft Pvt. Ltd. website (https://macreel.co.in/) and any products or
    services you purchase from us. Please ensure that you read and agree to all terms before signing up. If you have any
    questions regarding our services, pricing, or policies, feel free to contact us. Macreel Infosoft Pvt. Ltd. reserves
    the right to modify its policies and terms at any time. We serve a diverse clientele, and we prioritize their
    security.
  </p>

  <p>
    <b>2. Changes to Packages and Pricing :- </b>
    Macreel Infosoft Pvt. Ltd. reserves the right to modify the prices, services, and packages we offer at any time. The
    packages, prices, and services listed on our website are subject to change without prior notice. We may increase
    service prices at our discretion, and new prices will apply to new deals. However, orders placed before any price
    changes will be honored at the previous rates.
  </p>

  <p>
    Work will commence only after we have received payment in our account. It is your responsibility to provide all
    necessary information to verify the payment. If we do not hear from you for more than 30 days, the project will be
    placed on hold. If there is no communication for over 180 days, the project will be considered closed.
  </p>

</ion-content>