<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButtonToCaseList()"></ion-icon>
    <span>Add Hearing</span>
  </div>
</div>

<ion-content>
  <form [formGroup]="caseForm">

    <ion-input label-placement="floating" type="datetime-local" fill="outline" label="Hearing Date & Time"
      placeholder="Enter Hearing Date & Time" formControlName="hearingDate" [min]="minDate">
    </ion-input>


    <ion-input label-placement="floating" type="number" fill="outline" label="Extra Charge"
      placeholder="Enter Extra Charge" formControlName="extracharge">
    </ion-input>

    <ion-textarea class="ChargeDetails" label="Member Details" labelPlacement="floating" fill="outline"
      placeholder="Enter details..." formControlName="chargeDetail">
    </ion-textarea>

    <ion-input label-placement="floating" type="text" fill="outline" label="Document Name"
      placeholder="Enter Document Name" formControlName="documentName">
    </ion-input>

    <ion-button expand="block" type="submit" (click)="onSubmit()">Submit</ion-button>
  </form>
</ion-content>