<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButtonToCaseList()"></ion-icon>
    <span>Add Hearing</span>
  </div>
</div>

<ion-content>
  <form [formGroup]="caseForm">

    <ion-select label="Client Name" fill="outline" label-placement="floating" interface="action-sheet"
      placeholder="Select Client Name" formControlName="clientId" (ionChange)="onClientSelect($event)">
      <ion-select-option *ngFor="let client of clientName" [value]="client?.id">
        {{client?.clientName}}
      </ion-select-option>
    </ion-select><br>

    <ion-input label="Case Number" label-placement="floating" type="text" fill="outline"
      placeholder="Enter case number" formControlName="caseNo">
    </ion-input>

    <ion-input label-placement="floating" type="date" fill="outline" label="Hearing Date"
      placeholder="Enter Extra Charge" formControlName="hearingDate">
    </ion-input>

    <ion-input label-placement="floating" type="number" fill="outline" label="Extra Charge"
      placeholder="Enter Extra Charge" formControlName="extracharge">
    </ion-input>

    <ion-textarea class="ChargeDetails" label="Member Details" labelPlacement="floating" fill="outline"
      placeholder="Enter details..." formControlName="chargeDetail">
    </ion-textarea>

    <ion-input label-placement="floating" type="text" fill="outline" label="Document Name"
      placeholder="Enter Document Name" formControlName="documentName">
    </ion-input>

    <ion-button expand="block" type="submit" (click)="onSubmit()">Submit</ion-button>
  </form>
</ion-content>