<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" (click)="backButtonToCaseList()"></ion-icon>
    <span>Add Hearing</span>
  </div>
</div>

<ion-content>
  <form [formGroup]="caseForm">

    <ion-text>Hearing Date & Time</ion-text>
    <ion-input type="datetime-local" fill="outline" placeholder="Hearing Date & Time"
      formControlName="hearingDate" [min]="minDate">
    </ion-input>

    <ion-input type="number" fill="outline" placeholder="Extra Charge" formControlName="extracharge">
    </ion-input>

    <ion-input type="text" fill="outline" placeholder="Document Name" formControlName="documentName">
    </ion-input>

    <ion-textarea fill="outline" placeholder="Enter details" formControlName="chargeDetail">
    </ion-textarea>

    <ion-button expand="block" type="submit" (click)="onSubmit()" [disabled]="!caseForm.valid">Submit</ion-button>
  </form>
</ion-content>