<div class="header">
  <div class="navbar">
    <span>Cases</span>
  </div>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>
  <h6 style="margin: 5px 10px;">Total : {{cases?.length || '0'}}</h6>

  <ng-container *ngFor="let case of cases">
    <ion-card>
      <div>
        <ion-row>
          <span class="highlight"><ion-icon name="person-outline"></ion-icon>&nbsp; Vakil Name </span>
          <span class="highlight">{{ case?.vakilName|| 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span> <ion-icon name="barcode-outline"></ion-icon> &nbsp; Case Title </span>
          <span>{{ case?.caseTitle || 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span><ion-icon name="call-outline"></ion-icon>&nbsp; Mobile Number</span>
          <span>{{ case?.contactNum || 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span><ion-icon name="calendar-outline"></ion-icon>&nbsp; Court Name</span>
          <span>{{ case?.courtName || 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span><ion-icon name="code-working-outline"></ion-icon>&nbsp; Case Number</span>
          <span>{{ case?.caseNo || 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span><ion-icon name="calendar-outline"></ion-icon>&nbsp; Act</span>
          <span>{{ case?.act || 'N/A' }}</span>
        </ion-row>
      </div>

      <div class="actionButton">
        <div (click)="addHearing(case)">
          <ion-icon name="calendar"></ion-icon>
          <span>Next Hearing</span>
        </div>
        <div (click)="aboutCase(case)">
          <ion-icon name="newspaper"></ion-icon>
          <span> About Case</span>
        </div>
      </div>

    </ion-card>
  </ng-container>
  <p class="NoRecord" *ngIf="cases?.length === 0">No Record Found</p>
</ion-content>