.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }

        span {
            font-size: 20px;
            margin: 0 auto;
        }
    }
}

ion-content {
  
    .cardInfo {
        width: 100%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        height: auto;
        overflow: hidden;
        float: right;
        padding: 10px;
        text-align: left;
        text-overflow: ellipsis;
        margin: 0 0 10px;

        span {
            font-size: 16px;
            font-weight: 600;
            text-wrap: nowrap;
            color: var(--color-primary);
        }

        p {
            font-size: 12px;
            margin: 3px 0;
            color: var(--color-dark);
        }
    }

    ion-row {
        clear: both;
        margin: 10px 0 0;

        span {
            font-size: 12px;
        }
    }
}