<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/home/vakiltotalcase"></ion-icon>
    <span>Add Memebrs</span>
  </div>
</div>

<ion-content>
  <form [formGroup]="add_members_form">

    <ion-input type="text" fill="outline" placeholder="Enter father name" formControlName="fatherName">
    </ion-input>

    <ion-input type="text" fill="outline" placeholder="Enter member name" formControlName="memberName">
    </ion-input>

    <ion-input type="tel" fill="outline" helperText="Enter a valid mobile number" errorText="Invalid mobile number"
      required formControlName="membercontactNum" minlength="10" maxlength="10" pattern="\d{10}"
      placeholder="Enter mobile no">
    </ion-input>

    <ion-input type="text" fill="outline" placeholder="Enter member details" formControlName="memberaddress">
    </ion-input>

    <ion-text>Document</ion-text>
    <ion-input type="file" fill="outline" formControlName="memberDocument" (change)="onAadhar($event)"
      accept=".jpg,.png,.jpeg,.pdf">
    </ion-input>

    <ion-textarea class="memberDetails" fill="outline" placeholder="Write about the member"
      formControlName="memberDetails">
    </ion-textarea>
  </form>

  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="onSubmit()" [disabled]="!add_members_form.valid">Submit</ion-button>
  </ion-row>

</ion-content>