/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

* {
    font-family: sans-serif;
}


:root {
    --color-primary: #3c595d;
    --color-secondary: #e2e2e2;
    --color-light: #FDFEFE;
    --color-dark: #0c1416;
    --color-success: #055705;
    --color-Error: #a22330;
    --color-warring: #f77f0f;
}

.highlight {
    color: var(--color-primary);
    font-weight: 600;
}

.text_color {
    color: var(--color-dark);
}

// for search bar design 
ion-content {
    ion-searchbar {
        --border-radius: 50px !important;
        --ion-color-base: var(--color-light) !important;
    }

    ion-searchbar::part(input) {
        transition: all 0.5s ease-in-out;
    }
}

// ion input height set
.input-fill-outline.sc-ion-input-md-h {
    min-height: 45px;
}

ion-select {
    max-height: 45px;
    min-height: 45px;
}

// for input type number appearance hide/none 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    --moz-appearance: textfield;
}

/* for chart  */
canvasjs-chart a {
    display: none;
}

ion-modal {
    --width: 100% !important;
    --height: 100% !important;
}

//dropdown select
.action-sheet-wrapper.sc-ion-action-sheet-md {
    height: 80vh;
}

//toast message

.tostSuccess {
    --background: var(--color-success);
    --color: white;
}

.tostError {
    --background: var(--color-Error);
    --color: white;
}

.tostWarring {
    --background: var(--color-warring);
    --color: white;
}


.textarea-fill-outline.textarea-label-placement-floating.sc-ion-textarea-md-h textarea.sc-ion-textarea-md,
.textarea-fill-outline.textarea-label-placement-stacked[auto-grow].sc-ion-textarea-md-h .native-wrapper.sc-ion-textarea-md::after,
.textarea-fill-outline.textarea-label-placement-floating[auto-grow].sc-ion-textarea-md-h .native-wrapper.sc-ion-textarea-md::after {
    height: 184px;
}


// custom alert start
.alert-wrapper.sc-ion-alert-md {
    border-radius: 15px;
}

.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    font-size: 12px;
    padding: 0 20px;
    text-align: center;
}

.alert-title.sc-ion-alert-md {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.alert-button-inner.sc-ion-alert-md {
    text-transform: capitalize;
}

.alert-button.sc-ion-alert-md {
    padding: 0;
}
// custom alert end
