<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/home/vakilsetting"></ion-icon>
    <span>Change Password</span>
  </div>
</div>

<ion-content class="ion-padding change-password-container">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <!-- Old Password Field -->
    <ion-item>
      <ion-label position="stacked">Old Password</ion-label>
      <ion-input type="text" formControlName="oldPassword" placeholder="Enter old password">
      </ion-input>
    </ion-item>

    <!-- New Password Field -->
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
        placeholder="Enter new password (min. 6 characters)">
      </ion-input>
      <ion-icon slot="end" name="{{ showNewPassword ? 'eye-off' : 'eye' }}" (click)="togglePasswordVisibility('new')">
      </ion-icon>
    </ion-item>
    <ion-text color="danger"
      *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
      <p>Password must be at least 6 characters long.</p>
    </ion-text>

    <!-- Confirm Password Field -->
    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input [type]="showCnfPassword ? 'text' : 'password'" formControlName="cnfPassword"
        placeholder="Confirm new password">
      </ion-input>
      <ion-icon slot="end" name="{{ showCnfPassword ? 'eye-off' : 'eye' }}"
        (click)="togglePasswordVisibility('confirm')">
      </ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('cnfPassword')?.touched">
      <p>Passwords do not match.</p>
    </ion-text>

    <!-- Submit Button -->
    <div class="button-container">
      <ion-button expand="full" type="submit" [disabled]="!passwordForm.valid">
        Update Password
      </ion-button>
    </div>
  </form>
</ion-content>