<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/dashboard"></ion-icon>
    <span>Talk To A Lawyer</span>
  </div>
</div>
<ion-content class="ion-padding">
  <!-- <p>Just fill in your details to immediately get the best matched lawyers for legal issues. Every lawyer profile has
    been verified, and you can contact them within minutes.</p> -->
  <ion-list>
    <form [formGroup]="clientForm">
      <ion-input label="Your Name" formControlName="clientName" label-placement="floating" fill="outline"
        placeholder="Enter your name">
      </ion-input>

      <ion-input type="tel" label="Mobile Number" label-placement="floating" fill="outline"
        helperText="Enter a valid mobile number" errorText="Invalid mobile number" required
        placeholder="Enter mobile number" minlength="10" maxlength="10" pattern="\d{10}" formControlName="ContactNum">
      </ion-input>

      <ion-input type="email" label="Email Id" label-placement="floating" fill="outline"
        helperText="Enter a valid email" placeholder="Enter your email" errorText="Invalid email" ngModel email
        formControlName="email">
      </ion-input>


      <ion-select label="City" fill="outline" label-placement="floating" interface="action-sheet"
        placeholder="Select City" formControlName="city">
        <ion-select-option *ngFor="let city of city_list" [value]="city?.Id">
          {{city?.name}}
        </ion-select-option>
      </ion-select>

      <ion-select label="Category" fill="outline" label-placement="floating" interface="action-sheet"
        placeholder="Select category" formControlName="catId" (ionChange)="sub_cat_Issue($event)">
        <ion-select-option *ngFor="let cat of cat_list" [value]="cat?.catId">
          {{cat?.categoryName}}
        </ion-select-option>
      </ion-select>

      <ion-select label="Sub category" fill="outline" label-placement="floating" interface="action-sheet"
        placeholder="Select sub category" formControlName="subCatId" (ionChange)="sub_cat_adv_type($event)">
        <ion-select-option *ngFor="let cat of sub_cat_list" [value]="cat?.id">
          {{cat?.subcategoryName}}
        </ion-select-option>
      </ion-select>


      <ion-textarea id="custom-input" label="Write Your Issue" label-placement="floating" fill="outline"
        placeholder="Write your issue" [counter]="true" maxlength="500" [counterFormatter]="customCounterFormatter"
        formControlName="description">
      </ion-textarea>

      <!-- <ion-checkbox labelPlacement="end" [(ngModel)]="isChecked"><span
        style="text-wrap: wrap;">I am interested in
        talking to a lawyer for my legal issue</span>
    </ion-checkbox> -->

      <ion-button [disabled]="isChecked" (click)="submit()" [disabled]="!clientForm.valid">Find Lawyers</ion-button>
    </form>

  </ion-list>


</ion-content>




<ion-modal #talktolawyer>
  <ng-template>

    <div class="header">
      <div class="navbar">
        <ion-icon name="chevron-back" (click)="talktolawyer.dismiss()"></ion-icon> <span>Talk To Lawyer</span>
      </div>
    </div>
    <ion-content>
      <ion-card>
        <ion-card-header class="ion-text-center">
          <ion-title>Thank You!</ion-title>
        </ion-card-header>
        <img alt="Silhouette of mountains"
          [src]="find_lawyers?.profilePath ? img_url+find_lawyers?.profilePath : '../../../assets/menuIcon/lawyer.png'" />
        <ion-card-header>
          <ion-card-subtitle *ngIf="find_lawyers?.advocateName">
            You can contact <b>{{find_lawyers?.advocateName | titlecase}}</b> on <b>{{find_lawyers?.contactNum}}</b> for
            your legal issue.
          </ion-card-subtitle>
          <ion-card-subtitle *ngIf="!find_lawyers?.advocateName">
            Thank you for legal enquiry. our top advocate will contact you soon.
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngIf="find_lawyers?.advocateName">
          Lawyer details have been sent to your email id.
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>