.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;
  
    .navbar {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
  
      ion-icon {
        position: absolute;
        font-size: 24px;
        left: 10px;
      }
  
      span {
        font-size: 16px;
        margin: 0 auto;
      }
    }
  }
  
  ion-content {
    .AddCase {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 15px;
      justify-content: space-between;
      background: var(--color-secondary);
      font-weight: 600;
      color: var(--color-dark);
  
      ion-icon {
        font-size: 24px;
        color: var(--color-primary);
      }
    }
  
    ion-card {
      padding: 7px;
      margin-bottom: 10px;
      background-color: var(--color-light);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  
    .title-row {  
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dotted var(--color-primary);
    }
  
    .text_color {
      font-size: 15px;
    }
  
    ion-row {
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 6px 0;
      justify-content: space-between;
      text-transform: capitalize;
      font-size: 12px;
    }
  
  }
  .NoRecord {
    padding: 20px;
    margin: 0px;
  }