<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/clientcase"></ion-icon>
    <span>Hearing History</span>
  </div>
</div>

<ion-content>

  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>


  <ion-list *ngFor="let hearing of case_hearing_details">
    <ion-row>
      <span class="highlight">Client Name</span>
      <span class="highlight">{{ hearing?.clientName || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Case Number</span>
      <span>{{ hearing?.caseNo || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Mobile Number</span>
      <span>{{ hearing?.contactNum || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Extra Charges</span>
      <span>{{ hearing?.extraCharge || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Next Date</span>
      <span style="color: green;">{{ hearing?.hearingDate ? (hearing?.hearingDate | date:'dd MMM yyyy, h:mm a') : 'N/A'
        }}</span>
    </ion-row>

    <ion-row *ngIf="hearing?.chargeDetail">
      <span>Charge Details</span>
      <span>{{hearing?.chargeDetail || 'N/A'}}</span>
    </ion-row>

    <div *ngIf="hearing?.documents?.length > 0;">
      <h3>Required Documents</h3>
      <div class="documentsclass" *ngFor="let doc of hearing?.documents; let i= index">
        <ion-label>{{i+1}} &nbsp; {{ doc?.name | titlecase }}</ion-label>
      </div>
    </div>
  </ion-list>
  <p class="NoRecord" *ngIf="case_hearing_details?.length === 0">No Record Found</p>

</ion-content>