<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/user/home/clientcase"></ion-icon>
    <span>Upcoming Court Hearing</span>
  </div>
</div>

<ion-content>

  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>


  <ion-list *ngFor="let hearing of case_hearing_details">
    <ion-row>
      <span class="highlight">Client Name</span>
      <span class="highlight">{{ hearing?.clientName || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Case Number</span>
      <span>{{ hearing?.caseNo || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Mobile Number</span>
      <span>{{ hearing?.contactNum || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Extra Charges</span>
      <span>{{ hearing?.extraCharge || 'N/A' }}</span>
    </ion-row>

    <ion-row>
      <span>Next Date</span>
      <span style="color: green;">{{ hearing?.hearingDate || 'N/A' }}</span>
    </ion-row>

    <div class="description" *ngIf="hearing?.chargeDetail">
      <h4>charge Details</h4>
      <p [innerHTML]="hearing?.chargeDetail"></p>
    </div>

    <div class="description" *ngIf="hearing?.caseSummary">
      <h4>Summary</h4>
      <p [innerHTML]="hearing?.caseSummary"></p> 
    </div>

    <div *ngIf="hearing?.documents?.length > 0;">
      <h3>Required Documents</h3>
      <div class="documentsclass" *ngFor="let doc of hearing?.documents; let i= index">
        <ion-label>{{i+1}} &nbsp; {{ doc?.name | titlecase }}</ion-label>
      </div>
    </div>
  </ion-list>
</ion-content>