<div class="header">
  <div class="navbar">
    <ion-icon name="chevron-back" routerLink="/vakil/home"></ion-icon>
    <span>Due Payment</span>
  </div>
</div>

<ion-content>
  <ion-searchbar color="light" placeholder="Search" (ionInput)="onSearch($event)"> </ion-searchbar>

  <div class="addbutton">
    <ion-row class="AddCase" (click)="pyament_Dues()">
      <span>Paid Payment</span>
    </ion-row>
    <ion-row class="AddCase">
      <span>Due Payment</span>
    </ion-row>
  </div>
  <h6 style="margin: 5px 10px;">Total : {{cases?.length || '0'}}</h6>

  <ng-container *ngFor="let case of cases">
    <ion-card (click)="pyamentDues(case)">
      <div>
        <ion-row>
          <span class="highlight"><ion-icon name="person-outline"></ion-icon>&nbsp; Client Name </span>
          <span class="highlight">{{ case?.name|| 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span> <ion-icon name="barcode-outline"></ion-icon> &nbsp; Case Title </span>
          <span>{{ case?.caseTitle || 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span><ion-icon name="call-outline"></ion-icon>&nbsp; Mobile Number</span>
          <span>{{ case?.contactNum || 'N/A' }}</span>
        </ion-row>

        <ion-row>
          <span><ion-icon name="code-working-outline"></ion-icon>&nbsp; Case Number</span>
          <span>{{ case?.caseNumber || 'N/A' }}</span>
        </ion-row>

        <ion-row [ngClass]="{'green-text': case?.due === 0, 'red-text': case?.due > 0}">
          <span>
            <ion-icon name="calendar-outline"></ion-icon>&nbsp; Total Dues
          </span>
          <span>
            {{ case?.due === 0 ? 'All Paid' : '' + case?.due }}
          </span>
        </ion-row>
      </div>
    </ion-card>
  </ng-container>
  <p class="NoRecord" *ngIf="cases?.length === 0">No Record Found</p>
</ion-content>