.header {
    width: 100%;
    height: 70px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    display: flex;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        ion-icon {
            position: absolute;
            font-size: 24px;
            left: 10px;
        }

        span {
            font-size: 20px;
            margin: 0 auto;
        }
    }
}

ion-content {

    ion-searchbar {
        position: sticky;
        top: 0;
        z-index: 10;
        background: var(--color-light);
    }

    // for categores menu scss 
    ion-list {
        padding: 0;


        h3 {
            position: sticky;
            top: 58px;
            z-index: 10;
            background: var(--color-light);
            margin: 0;
            color: var(--color-primary);
            font-weight: 600;
        }
    }
}