<div class="header">
  <div class="navbar">
    <span class="ion-margin-start">Client List</span>
    <ion-button shape="round" routerLink="/home/notification">
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
  </div>
</div>
<ion-content>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>

  <ion-row>
    <span>Add Case</span>
    <ion-icon name="add-circle" (click)="addClientCase()"></ion-icon>
  </ion-row>

  <ion-list>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_1.jpg" />
      </ion-avatar>
      <ion-label>Gautum Singh</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_2.png" />
      </ion-avatar>
      <ion-label>Sushant Kumar</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_8.jpg" />
      </ion-avatar>
      <ion-label>Rahul Patel</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_5.png" />
      </ion-avatar>
      <ion-label>Virender Bhola</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_3.jfif" />
      </ion-avatar>
      <ion-label>Abhishek Kumar</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_1.jpg" />
      </ion-avatar>
      <ion-label>Gautum Singh</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_2.png" />
      </ion-avatar>
      <ion-label>Sushant Kumar</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_8.jpg" />
      </ion-avatar>
      <ion-label>Rahul Patel</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_5.png" />
      </ion-avatar>
      <ion-label>Virender Bhola</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_3.jfif" />
      </ion-avatar>
      <ion-label>Abhishek Kumar</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_1.jpg" />
      </ion-avatar>
      <ion-label>Gautum Singh</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_2.png" />
      </ion-avatar>
      <ion-label>Sushant Kumar</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_8.jpg" />
      </ion-avatar>
      <ion-label>Rahul Patel</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_5.png" />
      </ion-avatar>
      <ion-label>Virender Bhola</ion-label>
    </ion-item>

    <ion-item lines="full" (click)="clientCase()">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../../../assets/Lawyers/lawyer_3.jfif" />
      </ion-avatar>
      <ion-label>Abhishek Kumar</ion-label>
    </ion-item>

  </ion-list>
</ion-content>